[2016-03-22 22:52] fredrik-johansson commented on #877
Yeah, we have looked at this. Most of the core authors of FLINT have given permission to change the license to LGPL. However, Richard Howell-Peak who wrote the original version of the polynomial factorisation code said no.

Since polynomial factorisation isn't really used by anything else, I think we could make an LGPL edition of FLINT in which the modules for polynomial factorisation have simply

[2016-03-22 23:38] certik commented on #877
@fredrik-johansson thank you! That would change everything. @rwst if Flint and Arb is LGPL, then I don't mind depending on them by default. Then the only other issue is to make sure both Flint and Arb build on all the platforms and compilers that we support.

[2016-03-22 23:48] wbhart commented on #877
Do you support Windows? Today we discovered that MPFR fails almost all its
tests on Mingw-w64 under msys2, and we depend on MPFR. No idea why.
Probably something stupid we are doing.

There are some failing tests in Arb on Windows (about 5), but maybe that
has to do with the failing MPFR tests. You also currently need to make some
minor changes to the Arb Makefile on Windows.

We don't currently s

[2016-03-23 00:28] fredrik-johansson commented on #877
Yes, a minor issue with MPFR could easily explain the few failing Arb tests. There shouldn't be any significant problems left on Windows.

(In other words, capable volunteers are welcome.)

[2016-03-23 01:31] isuruf commented on #877
Here are all the compilers that we test regularly.
https://github.com/symengine/symengine/wiki/Compiler-Support

I can help with the porting and also to set up CI solutions as in SymEngine.

[2016-03-23 01:38] certik commented on #877
We support Windows (MSVC and mingw), Linux (gcc, clang, intel) and mac
(gcc, clang).  I think we only test 32 bit on windows with mingw.

I would like to support Arm, if we can find some online service to test
each PR. I think we should have a simple android test app, so that people
can take it from there to develop advanced applications.

Sent from my mobile phone.
On Mar 22, 2016 5:48 PM, "wbhar

[2016-03-23 01:42] isuruf commented on #877
32 bit MinGW from mingw.org and 64 bit MinGW-w64.

[2016-03-23 01:44] fredrik-johansson commented on #877
IMHO, there's little practical benefit to do so since LGPL libraries are effectively just part of the environment (like the OS), as long as you link to them dynamically -- the "SymEngine build" is completely independent of them. Even Maple and Mathematica depend on LGPL libraries, and ship with them.

From the point of view of BSD/MIT software, I think the LGPL is only really problematic in two se

[2016-03-23 02:33] chenchfort opened #879 "Clang warnings"
Apple LLVM version 7.3.0 (clang-703.0.29)
Target: x86_64-apple-darwin15.4.0
Thread model: posix

Generated when I make:
[error.txt](https://github.com/symengine/symengine/files/185308/error.txt)

@isuruf @certik

[2016-03-23 06:35] rwst commented on #877
I just discovered I can't even switch off MPFR in SymEngine so, at least where it is installed(?) on the systems from that list, it already passes all tests.

[2016-03-23 07:14] Sumith1896 opened #880 "Benchmark eval_bit in univariate polynomial for different integer types"
See https://github.com/symengine/symengine/pull/875/files#r56742454

[2016-03-23 07:28] rwst commented on #878
This is a bug, but it does not show because `anything**0` (even `zoo**0`) is immediately expanded to 1. It should be fixed anyway.

[2016-03-23 17:57] isuruf commented on #877
@rwst, MPFR is not tested on OS X and Windows. You can't turn off MPFR because you must have another option like Flint or Piranha turned on.

[2016-03-24 17:08] isuruf opened #885 "Method to add a vector of basic together"
This should be faster than adding one by one for large expressions.

[2016-03-24 19:23] abinashmeher999 commented on #885
Just to be clear, you are suggesting a method to add all the elements of a `vec_basic` together, right?

[2016-03-24 19:26] isuruf commented on #885
Yes

[2016-03-25 07:43] rwst opened #886 "expand exp(log +-* log)"
These are failing:
[code]

[2016-03-25 08:43] #878 closed

[2016-03-26 06:25] CodeMaxx commented on #879
I get the same error on compiling with `make`.

GNU Make 3.81
for i386-apple-darwin11.3.0

This happened after I upgraded to OS X 10.11.4

[2016-03-26 06:39] CodeMaxx commented on #886
I'm on it.

[2016-03-26 09:05] CodeMaxx commented on #885
@isuruf What do you mean by "faster than adding one by one" ? Can you give an example

[2016-03-26 09:41] isuruf commented on #885
`add({a, b, c})` should be faster than `add(a, add(b, c))` which creates a temporary object `add(b, c)`

[2016-03-26 21:06] CodeMaxx commented on #886
Should this simplification(  `(e^(log2))` to `2`  ) be done by `pow` or `expand` ?

[2016-03-27 02:28] irislq commented on #879
I get the same errors with the same version clang as Charles.

[2016-03-27 06:08] rwst commented on #886
I would do the `e^log` immediately, i.e. in `pow` but the `e^(log +-* log...)` only on demand (SymPy does it immediately, Sage not). It need not be `expand`, can be different.

[2016-03-27 06:19] CodeMaxx commented on #886
I achieved `e^log` in `pow` but can't get `e^(log +-* log...)` to work. Can you point me to where this functionality is implemented in sage?

[2016-03-27 06:31] rwst commented on #886
Sage uses Maxima's simplify() so it's in Maxima, SymPy has it as well. In
principle, if the exponent is an add, then any term in the form of
`log(ex)` can be drawn out of the exponent as a factor.

On Sun, Mar 27, 2016 at 8:19 AM Akash Trehan <notifications@github.com>
wrote:

[2016-03-28 07:36] CodeMaxx commented on #764
@Sumith1896 Can close this. We already have an issue for clang-format.

[2016-03-28 07:47] #764 closed

[2016-03-28 07:58] chenchfort commented on #879
It's resolved now. Closing.

[2016-03-28 07:58] #879 closed

[2016-03-29 14:36] duhadler commented on #877
Regarding the use of MPIR 2.7.2, MPFR 3.1.4, FLINT 2.5.2 and ARB 2.8.1 on 32 bit and 64 bit Windows, I would like to share my experience on various Windows installations: Windows XP (32 bit), and Windows Vista, 7, 8.1, 10 (32 and 64 bit).

I am using the following system:
Environment: MSYS2 32 bit .
Compiler: TDM-GCC 4.9.2 (12 December 2014).
The outcome so far is the following:

MPIR and MPFR com

[2016-03-29 17:22] fredrik-johansson commented on #877
I wasn't aware that MPFR uses 32 bit exponents on Windows 64. That could certainly explain most (if not all) of the test failures.

I just fixed, hopefully, the one line in arb_log where this is an issue. It needs testing (I don't have a Windows machine to do so myself).

By the way, the MPFR exponent limitation also means that you can't use precision higher than 2^30 bits or so on Windows 64, but

[2016-03-30 07:44] duhadler commented on #877
I have checked it, and indeed, with this change in log.c, now all tests pass on Windows for the 32 bit and 64 bit version of ARB 2.8.1.

There is still a test (arb/test/t-exp_arf_bb.c) in the current arb-master which fails on Windows in 64 bit. This might be a similar issue, looking at line 76 and 78. Everything else is fine.

[2016-03-31 09:08] CodeMaxx commented on #885
Can be closed

[2016-03-31 09:09] CodeMaxx commented on #839
Can be closed?

[2016-03-31 10:18] #839 closed

[2016-03-31 19:09] isuruf commented on #877
I started on Travis and Appveyor support for the libraries. https://github.com/wbhart/mpir/pull/171
MPIR/GMP is already okay since we test with them on Travis/Appveyor already.
MPFR is next, we only check MPFR on Linux in SymEngine.

[2016-03-31 21:41] fredrik-johansson commented on #877
This would be great to have for flint and arb. I tried to set up travis builds for arb some time ago, but I couldn't figure out how to cache the dependencies (mpir+mpfr+flint). It takes too long to install them from scratch each time.

By default, the flint and arb tests probably take too long to run. When testing flint, flint_test_multiplier() can be changed to return 1 instead of 10. This result

[2016-04-01 07:14] CodeMaxx commented on #880
What all does integer types does this require?

[2016-04-01 07:17] isuruf commented on #880
I think @Sumith1896 misunderstood me.
What I wanted to see is the difference of
[code]
and
[code]

[2016-04-01 08:18] CodeMaxx commented on #880
So should I write a benchmark for this?

[2016-04-01 11:58] wohnjayne opened #900 "Readme.md --> add "make install""
The [installation instructions in Readme.md](https://github.com/symengine/symengine#installation) should probably contain a

`make install`

so people not familiar with building do not get stuck.

[2016-04-01 12:16] CodeMaxx commented on #900
+1

[2016-04-01 19:10] certik opened #902 "Improve bin/test_format_local.sh"
As described here: https://github.com/symengine/symengine/pull/898#discussion-diff-58159247

[2016-04-01 19:11] certik opened #903 "Improve bin/travis_clang.sh"
As described here: https://github.com/symengine/symengine/pull/898#discussion-diff-58224489

[2016-04-01 19:16] Sumith1896 commented on #866
Closed via https://github.com/symengine/symengine/pull/898

[2016-04-01 19:16] #866 closed

[2016-04-01 19:16] Sumith1896 commented on #138
Closed via https://github.com/symengine/symengine/pull/898

[2016-04-01 19:16] #138 closed

[2016-04-02 07:46] CodeMaxx opened #905 "Clang_format changing the order of #include"
`clang-format` arranges the `#include`s in lexicographic order
This causes certain tests to fail in PR #893.
See this question on stackoverflow
http://stackoverflow.com/questions/865785/why-does-the-order-of-my-includes-matter-c
 @certik @isuruf

[2016-04-02 08:59] CodeMaxx commented on #905
Ok wait... I have clang-format 3.8 on my mac. This change has been introduced in this version.

[2016-04-03 10:50] #900 closed

[2016-04-05 15:42] certik commented on #905
Yes, right now we use 3.7.

[2016-04-05 16:09] srajangarg commented on #903
Can be closed!

[2016-04-05 16:12] isuruf commented on #885
Closed via #892

[2016-04-05 16:12] #885 closed

[2016-04-05 17:18] certik commented on #903
Fixed by #906.

[2016-04-05 17:18] #903 closed

[2016-04-06 21:48] mohawkjohn opened #908 "Differentiation of matrix and vector expressions"
For example,

[code]

Is there a how-to anywhere on teaching SymEngine new patterns, and instructing it on how to solve them? I'd love to put some work into this since it'd be so useful for my job.

[2016-04-07 04:25] isuruf opened #909 "Remove use of Ptr in RCP"
`Ptr` should only be used for unsafe pointer types like raw pointers. `RCP` doesn't need the Debug checks of `Ptr` because `RCP` already does those checks in Debug mode.

[2016-04-07 04:28] isuruf commented on #908
`MatrixSymbol` is not yet implemented in SymEngine. If you can give your expected outputs, we can first implement in SymPy and then in SymEngine.

[2016-04-07 12:56] mohawkjohn commented on #908
What do you mean by expected outputs?

[The Matrix Cookbook](http://www2.imm.dtu.dk/pubdb/views/edoc_download.php/3274/pdf/imm3274.pdf)  has most of them — see especially Section 2.4, but Chapter 2 overall (starts on page 8).

[2016-04-07 15:48] isuruf commented on #908
Ah. This should be reported to SymPy at https://github.com/sympy/sympy

SymEngine is trying to provide a fast C++ core for SymPy and other CASs. It's written from the ground up and only includes core methods for now. SymEngine intends to be a full CAS in the future, but that's long term.

SymEngine was developed independently of SymPy and now we are trying to get SymEngine to act as SymPy's core o

[2016-04-07 16:32] mohawkjohn commented on #908
Okay, so no hope of getting this into symengine.rb in the near future?

[2016-04-10 05:32] isuruf commented on #908
Opened sympy/sympy#10989

I'm not sure when this will be implemented in SymEngine. This should be simple after we figure out how to integrate Polynomials to SymEngine expressions.

[2016-04-10 05:32] #908 closed

[2016-04-10 05:33] isuruf opened #912 "Implement matrix expressions"
For eg. `MatrixSymbol` in SymPy.

[2016-04-10 05:33] isuruf commented on #908
Opened #912 for Matrix expressions in SymEngine

[2016-04-14 19:09] CodeMaxx commented on #905
@certik What I want to say that, we will not be able to use version 3.8(latest) in future.

[2016-04-15 00:23] certik commented on #905
@CodeMaxx you can use the `IncludeCategories` option (http://clang.llvm.org/docs/ClangFormatStyleOptions.html) to order header files in the right order.

[2016-04-15 07:20] isuruf opened #915 "Base class for Complex, ComplexDouble, ComplexMPC"
All 3 should be child classes of a base class `ComplexBase`. Also a method should be added `is_a_Complex` to figure out if a `Basic` object is a `Complex` or not

[2016-04-15 13:42] CodeMaxx commented on #905
@certik Take a look at #917

[2016-04-19 20:07] vyasgiridhar opened #918 "cmake error in arch linux"
[code]

libgmpxx is not located at 'usr/lib/x86_64-linux-gnu/

[code]

[2016-04-19 20:36] CodeMaxx commented on #918
Do you have `libgmp` installed on your system?

[2016-04-20 08:10] vyasgiridhar commented on #918
i have. The location of libgmpxx.so is different

[2016-04-20 10:50] CodeMaxx commented on #918
Did you change the default location while installing `libgmp`?

[2016-04-20 14:58] vyasgiridhar commented on #918
No.

[2016-04-20 22:45] certik commented on #918
@vyasgiridhar thanks for the report. I think there is a flag to cmake that makes it not search in the `x86_64-linux-gnu` subdirectory if your system doesn't use it. Let me know if you need help with this. Once we figure out how to fix it for you, let's either fix it by default, or document how to workaround it on Arch.

Btw, we should try to use Docker and install arch and other distributions in i

[2016-04-23 03:10] #871 closed

[2016-04-23 10:48] vyasgiridhar commented on #918
Its Solved

[2016-04-23 10:48] #918 closed

[2016-04-26 10:16] rajithv opened #921 "sec function behaves incorrectly"
`sec(0)` is returning  `2*2**(1/2)/(1 + 3**(1/2))`.

[2016-04-26 14:29] certik commented on #921
It should be 1. Thanks for finding this.

[2016-04-27 04:56] isuruf opened #922 "Lambertw::is_canonical bug"
A bug in lambertw was fixed in #854 but `is_canonical` was not fixed to reflect the change.

[2016-04-27 14:40] Nitin216 commented on #921
I am new to symengine. I would like to work on this problem. Someone please guide me.

[2016-05-03 11:55] #922 closed

[2016-05-04 07:41] isuruf commented on #207
I'd like to revisit this issue again. We can have a function to distribute the number, but when it comes to functions that use these operations a lot, it's too late to distribute the number because the function is already a bottleneck.

I saw this happen in LU solve and here https://gitter.im/symengine/symengine?at=56f5433811ea211749c1e5e4 as well.

[2016-05-05 11:06] CodeMaxx commented on #915
@isuruf We can use `is_a<Complex>`?

[2016-05-05 11:15] isuruf commented on #915
No, `is_a<Complex>` would only be true for `Complex` and false for `ComplexDouble`, `ComplexMPC`

[2016-05-12 08:19] agarny opened #935 "OS X: ranlib generates a couple of (identical) messages"
I have just cloned SymEngine to test it out on OS X 10.11.4 (El Capitan) using Xcode 7.3.1 and the default CMake settings. It all builds fine (after I had to install GMP using brew), but at some point I am getting the following (identical) messages:

[code]

I thought I would mention it, just in case.

[2016-05-12 09:13] isuruf commented on #935
For default option of `INTEGER_CLASS=GMPXX`, there is nothing to compile in `mp_wrapper.cpp`.
What to do here? Add a small dummy method to shut the warning ?
cc @certik

[2016-05-13 17:19] rajithv opened #939 "mod_f is not wrapped in the CWrapper"
Only `mod` is wrapped. `mod_f` is not wrapped. This is required for languages which use the latter form of mod operation by default.

[2016-05-16 17:41] certik commented on #635
@abinashmeher999, @hargup if you have time, we should try to finish this before our symengine scipy presentation, that would be great.

[2016-05-17 05:07] abinashmeher999 commented on #635
I did play with it a little bit. Since 3D models of engines are readily available, the way I planned it was to make a 3D model first and then export it to SVG using Blender or directly render it to SVG in Inkscape itself, rather than drawing it. I took the CAD models from [grabcad.com](https://grabcad.com/library/tag/engine?page=1&per_page=100&time=all_time&sort=recent&query=v6%20engine). Let me k

[2016-05-17 20:25] certik opened #944 "Automatically build binaries for most common platforms"
With Travis + Docker images for any linux distribution (e.g. Ubuntu 16.04, 14.04, Fedora, Debian, etc.), Travis + OS X, and AppVeyor+Windows, we should be able to build binaries+dependencies for any platform. We should try to leverage Conda if possible. We should also build binaries for Sage, that people can just easily load, if it's possible.

These binary builds would enable the right optimizati

[2016-05-17 20:26] certik commented on #877
@rwst for now I would like to keep Flint + Arb optional. On your machine, you can always enable it, that's not a big deal.

Rather, what we should do is provide binaries for the common platforms, and there make sure we enable all the libraries that we want to support. I opened a new issue for this: #944

[2016-05-18 03:22] rwst commented on #877
Since Flint and Arb have changed to LGPL anything is possible now. The issue stays open accordingly but I'll change the start comment to reflect new realities.

[2016-05-18 03:27] isuruf commented on #944
We can try conda-smithy. conda-smithy takes in a recipe and creates a repo that uses CI to build, test and deploy to a binstar channel.

For an example, see https://github.com/conda-forge/mpir-feedstock

[2016-05-27 09:34] srajangarg opened #959 "Naming related changes : Polynomials"
Currently, some of the polynomial classes and files have unintuitive names. We should change these.

Here is what I propose:
[code]

A similar classification can be done for multivariate polynomials, once a base class have been formed, and they are properly organized.

We can also have `uratpoly.h & uratpoly.cpp` for polynomial with rational coefficents soon.

The polynomial tests can be shifted t

[2016-05-28 05:18] isuruf commented on #944
Ubuntu packages are here, https://launchpad.net/~isuruf/+archive/ubuntu/symengine
Script is here, https://github.com/isuruf/symengine.deb

[2016-05-30 05:15] #959 closed

[2016-06-02 10:14] rajithv opened #974 "Compiling with -DWITH_MPFR=yes gives an error"
Stacktrace:

[code]

[2016-06-02 10:17] isuruf commented on #974
Can you check changing the line, `RCP<const Basic> t = integer(integer_class(6167950454));` to `RCP<const Basic> t = integer(integer_class("6167950454"));` ?

[2016-06-03 17:04] #974 closed

[2016-06-16 12:29] Sumith1896 opened #990 "Master coverage decreased from 78% to 68%"
Could somebody look into this?

[2016-06-25 23:41] bjodah commented on #944
I don't have any experience with conda-forge, but for linux ContinuumIO offers this docker image:
https://github.com/ContinuumIO/docker-images/tree/master/conda_builder_linux

[2016-06-26 03:31] isuruf commented on #944
conda-forge repos are [here](https://github.com/conda-forge/symengine-feedstock) and [here](https://github.com/conda-forge/python-symengine-feedstock).
See uploaded binaries here, https://anaconda.org/conda-forge/python-symengine

[2016-06-27 10:25] Sumith1896 opened #1000 "Move clang-format back to main tests"
http://apt.llvm.org/ is back up.
`clang-format` was moved to allowed failures temporarily, revert the commit.
Refer to https://github.com/symengine/symengine/pull/970

[2016-06-27 10:34] parsoyaarihant commented on #1000
I am working on this issue. Any tips are welcome.

[2016-06-27 10:35] Sumith1896 commented on #1000
Great @parsoyaarihant
Ping me once you put in a PR

[2016-06-29 13:07] Sumith1896 commented on #1000
Fixed via https://github.com/symengine/symengine/pull/1004

[2016-06-29 13:07] #1000 closed

[2016-06-30 05:48] parsoyaarihant commented on #921
@nishnik , is the issue fixed?

[2016-06-30 14:10] isuruf commented on #921
@parsoyaarihant, it was not fixed.

[2016-06-30 14:13] parsoyaarihant commented on #921
can I work on this? Since @nishnik isnt responding from long time.

[2016-06-30 14:16] isuruf commented on #921
Sure.

[2016-06-30 17:23] certik opened #1012 "test_series_generic is too slow"
In Debug mode it takes 8s on my computer, while every other test takes < 0.1s. This should be fixed to run in 0.1s or less, if at all possible.
[code]

[2016-07-01 05:51] rwst commented on #1012
There are some subtests that could have the precision reduced. Note however that the number of functions to test will make the 0.1s goal difficult to reach with generic series. After Flint is made a dependency, no problem.

[2016-07-01 08:14] vyasgiridhar commented on #912
I am starting to work on this feature. Any tips?

[2016-07-03 08:31] rwst commented on #990
Is it possible to determine the metric locally?

[2016-07-03 13:18] Sumith1896 commented on #990
Should be possible, `lcov` or `gcov`. Though I don't know the details

[2016-07-03 14:41] rwst commented on #990
[code]
Thanks @bluescarni for the last three lines.

[2016-07-03 20:56] certik opened #1017 "Usage of ptrFromRef"
This came up in:

https://github.com/symengine/symengine/pull/1016/files#diff-2c18f2e846e56fc460fb04a8379d21edL52

the old code looks like (CODE 1):
[code]
and the new code looks like (CODE 2):
[code]
In the old code, `HasSymbolVisitor` accepts `const RCP<const Symbol> &x` and so there is no problem. Except that one increments and then decrements the refcount, so it's a bit slower.

In the new cod

[2016-07-04 17:49] isuruf opened #1021 "2**(x+1) is not expanded"
When expanded this should give `2*2**x`, but it returns `2**(x+1)`

[2016-07-04 19:05] srajangarg commented on #1021
Should `expand(2**(x +(1/2)))` give `2**(1/2) * 2**x`?

[2016-07-05 03:47] isuruf commented on #1021
Yes to both. See how SymPy does it

[2016-07-05 15:48] Sumith1896 commented on #921
Fixed via https://github.com/symengine/symengine/pull/1020

[2016-07-05 15:48] #921 closed

[2016-07-05 15:48] Sumith1896 commented on #1012
Was improved here https://github.com/symengine/symengine/pull/1019

[2016-07-05 17:25] parsoyaarihant commented on #814
@nishnik , any update?

[2016-07-05 17:28] parsoyaarihant commented on #833
I want to work on the remaining functions. Any tips are welcome :)

[2016-07-05 19:18] srajangarg opened #1023 "Using cotire for sped up builds"
Was trying out [cotire](https://github.com/sakra/cotire), branch is [here](https://github.com/srajangarg/symengine/tree/cotire).
Only compilation of library done, using GNU 5.3.1 on an i7-5600U
All times in seconds.
[code]
I did not see considerable speedup in building/linking of executables.

[2016-07-06 06:50] rwst commented on #507
It appears the original reported leaks are fixed. However, new ones appeared: https://github.com/symengine/symengine.py/issues/78

They appear with any symengine import and regardless of if I do `gc.collect()`.
Should I close one of the tickets?

[2016-07-06 16:57] isuruf opened #1025 "Restructure matrix code"
[code]

There are two problems with the above code,
1. `C` has to have correct dimensions. This shouldn't be left to the user.
2. `C` cannot be `A` or `B`. Either there should be a check or this should be fixed.

For the first problem, I suggest resizing the matrix `C` before doing any operations
For the second, the code should check whether they are equal and if so use extra space for it by alloc

[2016-07-06 20:35] certik commented on #1012
Now with #1019 merged, the Debug times are:
[code]
Which is a lot better, essentially 8x speedup. Still, 1s is kind of slow, but I think it's usable now.

In Release mode, the slow tests takes only 0.07s:
[code]
that's a fine time.

We can always mark slow tests with a `SLOW` label in ctest, and only run those in Release mode. But there is value in running tests in Debug mode, i.e. we should make

[2016-07-06 20:38] certik commented on #1021
I don't think we can represent `2*2^x` in SymEngine, can we? How would you represent it using the Mul's dictionary? Well, you could put `2` into a coeff. But this would then fail: `2**(x+y+1)`, since you can put `2` into a coeff, but you can't store the rest (`2^x * 2^y`) in the dictionary.

[2016-07-06 20:42] certik commented on #1023
Nice!

We should add it to our cmake, as an option.

[2016-07-06 20:44] certik commented on #507
If this is fixed, we can close it in favor of https://github.com/symengine/symengine.py/issues/78.

[2016-07-06 20:44] #507 closed

[2016-07-06 20:49] certik commented on #1025
When we wrote this code, we decided to do this check in the Python wrappers. In release mode, there are no checks, only the assert statements in Debug mode.

You might be right, that those checks are negligible, and so we should do them even in Release mode. Perhaps so. I can see pros/cons either way.

[2016-07-06 20:53] certik commented on #1025
I am actually leaning pretty strongly towards not checking it in Release mode. The idea is just like in Fortran --- it doesn't check anything (dimensions, bounds checks, ...) in Release mode. Neither should we -- not in `mul_dense_dense`, nor in the `get`/`set` methods.

We definitely have to check everything in Debug mode. Just like in Fortran.

[2016-07-07 01:27] isuruf commented on #1025
Reason I mentioned this was that, these checks need to be done in Python, Ruby and all the other wrappers. Also needs to happen in C++ user code.

I'm not suggesting that we check that `A.cols == B.rows` which should only be done in Debug mode. Same for `get` and `set`. Only dimensions of `C` are checked. This is kind of like work arrays in Fortran lapack routines. (In lapack, dimensions of `C` ar

[2016-07-07 01:54] isuruf commented on #1021
You are right. We can only do it for the specific case of `2**(x+1)`, but not for `2**(x+y)`

[2016-07-07 19:32] certik commented on #1025
Well, one problem is that since we both agree not to check `A.cols == B.rows ` in Release mode, then this check must be done by all the wrappers anyway.

Regarding a C++ user code, that doesn't need to check that at all --- the work flow is that you run your code with SymEngine in Debug mode and make you get no exceptions. Then on production runs, you use SymEngine in Release mode.

[2016-07-07 19:33] certik commented on #1021
So I wouldn't do that for any case.

[2016-07-10 13:39] rwst commented on #849
See also #990

[2016-07-11 00:57] certik commented on #635
Maybe a gear like this one: https://thenounproject.com/search/?q=gears&i=172708

[2016-07-11 07:29] srajangarg opened #1030 "Canoncialize should be called on constructing `rational_class` from two `integer_class`"
[`mpq_wrapper`](https://github.com/symengine/symengine/blob/master/symengine/mp_wrapper.h#L358]) and [`fmpq_wrapper`](https://github.com/symengine/symengine/blob/master/symengine/flint_wrapper.h#L322)

I'm assuming `piranha::rational` and `gmp::mpz_class` already do canonicalize on construction.

[2016-07-11 13:02] #1030 closed

[2016-07-11 13:03] isuruf commented on #1030
`piranha::rational` and `mpq_class` already does canonicalization.

[2016-07-12 22:43] abinashmeher999 commented on #635
The gears reminded me of cube gears and that goes well with the cube in sympy logo too. So I decided to use it instead. Here is a draft of the logo that I have prepared(below one is a png but originally it is a svg). The result is very symmetric.
![selogodraft2](https://cloud.githubusercontent.com/assets/6918379/16785949/a8918f84-48ae-11e6-90ec-1ed8d8744b9c.png)
I have tried to keep the color sche

[2016-07-13 03:20] certik commented on #635
@abinashmeher999  this looks very good. However, I didn't mention it in the issue, but we discussed that we don't like the 3 gears that are stuck together, so they can't move, mechanically. It looks like these 3D gears also can't move... Is there another way to design them, so that they can actually move?

[2016-07-13 03:32] abinashmeher999 commented on #635
@certik They do move. https://youtu.be/jdBVXxF9_U8 It is based on an actual
working 3D model of a toy. The fact that it moves is what fascinates
everyone :smile:

On Wed, Jul 13, 2016, 8:50 AM Ondřej Čertík <notifications@github.com>
wrote:

[2016-07-13 03:59] certik commented on #635
@abinashmeher999 I see, I didn't realize that. I like it then. I like the colors. They are the same as for sympy, so that's consistent.

Did you create this all by yourself, or did you reuse somebody's else work? And if so, is the other work under a license that we could use?

[2016-07-13 04:09] aktech commented on #635
@abinashmeher999 Great work!

[2016-07-13 04:22] asmeurer commented on #635
Should we think of three things to show inverted on the reverse side of the cube? I've thought of that for the sympy logo as well.

[2016-07-13 05:18] hargup commented on #635
One of them can be Aleph Null symbol, which represents the cardinality of a set of natural numbers. It relates to the set module and I like the concept of cardinality.

![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Aleph0.svg/584px-Aleph0.svg.png)

[2016-07-13 07:19] abinashmeher999 commented on #635
Thanks @aktech!

@certik Except the integration symbol and the x symbol from Sympy logo and the cube gears inside taken from the screenshot of the video I sent you (here will YouTube license be considered or GrabCad's?), I have created it all by myself. I found the video link from GrabCad and [GrabCad Terms of Use](https://grabcad.com/terms) section 6.2 says that we can indeed use User uploaded ma

[2016-07-13 14:05] certik commented on #635
@abinashmeher999 we'll have to verify that we can indeed use the gears. The best would be to write to the author of the video and get an explicit permission. Last thing we want is to use the logo, and then realize later we can't actually use it. @abinashmeher999 would you mind writing to the author, and CC me?

[2016-07-13 14:46] abinashmeher999 commented on #635
@certik I am not able to find the author's email ID. However, (s)he is very active on YouTube and might reply there. This is the [link](https://www.youtube.com/user/trinityscsp/about) for the about page. I won't be able to CC you there, so it would be better if you could ask him/her. Or if you are busy, I can do it.

[2016-07-13 15:26] asmeurer commented on #635
I would actually suggest using something simpler. Maybe just the gears, without the box. I don't think current logo won't look good at very small scales (like a favicon). But maybe I'm wrong. Can you scale it down to something really small so we can see what it looks like.

[2016-07-13 16:04] abinashmeher999 commented on #635
@asmeurer The favicons 16px by 16px and 32px by 32px for your reference.
![untitled-2](https://cloud.githubusercontent.com/assets/6918379/16810113/641de004-4940-11e6-90db-0406684d7ad0.png)______![untitled-3](https://cloud.githubusercontent.com/assets/6918379/16810120/6ab7669c-4940-11e6-946e-cc91424bc228.png)

![untitled-2-32](https://cloud.githubusercontent.com/assets/6918379/16810437/767fcf68-494

[2016-07-13 16:40] asmeurer commented on #635
It looks like this toy predates that YouTube video. So you may need to do some research to see who owns the copyright for it and if we can use it.

Side note: someone made a Rubik's cube out of this thing https://www.youtube.com/watch?v=cSwcrVhSQkI

[2016-07-15 17:19] certik opened #1035 "sin(2*PI/3+1) is wrong"
At least in Julia, it returns `sin(1)`.

[2016-07-16 15:19] certik opened #1037 "Implement Piecewise function"
As a first step, the end points of the intervals can be `Number`s (integers, rationals, or floating point).

Implement differentiation, and arithmetic operations and anything else that @richardotis needs.

[2016-07-16 16:09] rwst commented on #1035
In Python the same.

[2016-07-16 16:20] certik opened #1038 "Implement fast C code generation"
Including Piecewise functions (#1037).

This would work similarly to our other printers.

This would be very useful for @richardotis's https://github.com/pycalphad/pycalphad/.

[2016-07-16 16:45] moorepants commented on #1038
Any way that this could work such that it speeds up SymPy's printers in the same way symengine symbolics speeds up SymPy's mathematical operations.

[2016-07-16 16:47] certik commented on #1037
The initial implementation only needs to use the following convention for intervals:
[code]
Where `a`, `b`, `c`, ..., `z` are Numbers. This then translates into the following tuples:
[code]
One can use the `oo` symbol instead of None if it is implemented. Any of the `f1`, ..., `f27` can be None (not defined).

Once this is all working, we can extend it to handle more general expressions for the in

[2016-07-16 16:51] richardotis commented on #1038
Benchmarking SymEngine's string printing of complex expressions (from pycalphad) suggests you can achieve 20-30x speedups over SymPy's printers.

[2016-07-16 17:13] certik commented on #1035
Yes, I think it's a bug in C++.

[2016-07-18 11:08] rajithv commented on #418
@isuruf @abinashmeher999 @certik I'm about to get into the exception handling part.

From this thread, and the links given, I see that it is necessary to change the method signature of almost all the functions, how will this affect the other wrappers? (I'll be of course be modifying the ruby wrapper as needed).

I was also thinking of having a common function in the Ruby API, which takes a functio

[2016-07-18 12:07] rajithv commented on #418
@abinashmeher999
I agree with re-writing the cwrapper in chunks. That should be the way to go. I will start with some basic arithmetic functions.

Btw, is it necessary to validate user input for all the ruby functions when that is already done in the C++ code? When the exception handling is implemented, such a validation would be redundant. Wouldn't it be?

[2016-07-18 12:14] abinashmeher999 commented on #418
Validation need not be as detailed. Few cases which are specific to the
Ruby function like the user passed a string when the function expected a
Number, passing insufficient number of arguments, etc.

On Mon, Jul 18, 2016, 5:37 PM Rajith Vidanaarachchi <
notifications@github.com> wrote:

[2016-07-18 18:17] certik commented on #418
@rajithv yes, create a prototype by rewriting just a few functions in the C wrapper, send a PR, and then create the corresponding PR in your Ruby wrappers. Let's test it, make sure it works. We can discuss it. If we all like it, then you can convert the rest of the wrappers.

[2016-07-19 23:51] certik opened #1040 "Write a Clang plugin `validate` to enforce our C++ rules"
It's relatively easy to write Clang plugins that parse a C++ code, generate Clang AST, and then allow to run all kinds of checks on it. Here is a proof of concept:

https://gitlab.com/certik/clang_plugin

that implements http://clang.llvm.org/docs/RAVFrontendAction.html. It's a bit tricky to compile, but finally I got it to work on my Ubuntu 16.04.

We should implement a `validate` program, that w

[2016-07-21 10:08] isuruf commented on #418
Sounds good to me. Btw, there is input validation in Ruby (isn't it?), so only validation in C++ is needed.

[2016-07-21 17:54] isuruf opened #1042 "MinGW Release build fails"
Fails with the error message,

   The procedure entry point _ZSt24__throw_out_of_range_fmtPKcz could not be located in the dynamic link library.

Searching in stackoverflow tells me that the error is because of mismatch in compiler versions, but libgmp.dll used is from mingw-get and should be the same.

Dependency walker seems to suggest that libstdc++-6.dll is the problem.

What's confusing is th

[2016-07-21 18:51] certik commented on #1042
Thanks for figuring it out. We'll have to dig into it more to see how to fix it. Perhaps something changed on AppVeyor.

[2016-07-21 19:31] isuruf commented on #1042
This upgrade http://www.appveyor.com/updates/2016/07/16 changed MinGW version from 4.8.1 to 4.9.3

[2016-07-21 19:43] isuruf commented on #1042
Even though the date says July 16th, for some projects this update happened earlier, which explain the dates we started seeing the appveyor issues.

Issue is probably with the gmp libraries we use that are incompatible. We install gmp via `mingw-get install mingw32-gmp`, but `gmp` libraries haven't been updated in a long while and probably not binary compatible with gcc 4.9.3

[2016-07-21 22:31] certik commented on #1042
Right, I think that's what it is. We'll have to recompile them.

Do you know what Windows configurations are supported by conda-forge? Perhaps we can just support those configurations with symengine as well. And we can just use Conda to install the dependencies.

[2016-07-22 07:19] isuruf commented on #1042
Conda doesn't support MinGW yet, but it'll be supported soon. (Only MSVC is supported)

[2016-07-22 13:24] spencerlyon2 opened #1043 "`basic_parse` bug with unary minus sign"
Strings like `"foo* - bar"` will cause `basic_parse` to fail with the following message:

[code]

I can try to handle this next week, unless someone beats me to it first 😏

[2016-07-22 18:57] certik commented on #1043
Thanks for reporting it. It looks like it is not supported yet. Shouldn't there be parentheses anyway around `-bar`?

[2016-07-22 20:01] spencerlyon2 commented on #1043
The current parser expects there to be parenthesis, but they wouldn't be required.

Here's an example from sympy:

[code]

[2016-07-25 13:48] Sumith1896 commented on #1043
cc @srajangarg

[2016-07-29 07:16] rwst commented on #1035
The code is written to be very fast, but is limited. The necessary dirty work for it to be usable more generally has not been done. I am also not sure if it is worthwhile to eke out some milliseconds when simplifying trig expressions because it's rarely a repeated task.

If one wants the code to be fixed/extended as it is now for the following simplifications
[code]
the necessary addition of a mod

[2016-07-29 08:00] rwst commented on #1035
Simply ignoring all π shifts with denominator > 2 will trigger doctests that have been put in place just for the sake of it. Detection of π shifts like the 2/3 above are tested there although, as seen, their handing in the trig functions was not implemented.

[2016-07-29 08:12] spencerlyon2 commented on #1043
Works on master now

[2016-07-29 08:12] #1043 closed

[2016-07-29 16:40] certik commented on #1035
I didn't realize there was a bug in it, so we have to fix it.

I noticed that even the code that we have there is slow, compared to just constructing a sin(x) directly.

We just need to decide what simplification to do automatically, and what not.

@rwst in your opinion, what would you do automatically when constructing `sin`, and what you would leave as a separate method to simplify?

Personally

[2016-07-29 16:41] certik commented on #1043
This was fixed by #1046.

[2016-07-30 05:54] rwst commented on #1035
You can't identify multiples of `pi` without expanding the argument:
[code]
If you mean identify arguments of form `n*pi` or `a+n*pi` with `n` integer that should be possible fast by writing a more simple version of the helper functions involved. The originals should be left in because of existing doctests, maybe better named. That would be the task for this issue IMHO.

I don't see a problem with

[2016-07-30 08:48] rwst commented on #1035
The outline just given will not work because there are already doctests with a half `pi` shift, so the existing code must be dealt with. First there can still be a rudimentary but fast check in `is_canonical`.

[2016-07-30 13:08] rwst commented on #1035
Another simple case that is not handled in the code is rational `pi` shifts with absolute value > period like
[code]
It is not necessary to have cases for all denominators, just subtract `pi` or `2*pi` if the coefficient is greater than 1 or 2 and is rational. But that's another ticket.

[2016-08-01 02:20] #1037 closed

[2016-08-04 10:56] srajangarg opened #1056 "SymPy and SymEngine differ in Multivariate Poly `eq`"
SymPy :
[code]
While SymEngine will return `true` for both. Thoughts?

[2016-08-04 17:36] certik opened #1057 "Investigate hash functions"
Here is a start:

http://aras-p.info/blog/2016/08/02/Hash-Functions-all-the-way-down

One has to look at speed and quality (on our use case). Higher quality typically means slower, so one has to find the right balance for our problems. I.e. one can ask a question --- which hash function delivers the best overall speed for some of our benchmarks, and whether there is a hash function that seems to c

[2016-08-09 04:14] dladd opened #1062 "MathML printing and parsing"
Hello all- I'm a developer on a project ([libCellML](https://github.com/cellml/libcellml)) that would like to use SymEngine as a CAS. One feature we'd need going forward is a MathML printer and parser. So we'd be happy to contribute these to SymEngine.

It looks like there is already a [MathML printer in SymPy](http://docs.sympy.org/dev/modules/printing.html#module-sympy.printing.mathml) that migh

[2016-08-09 05:04] isuruf commented on #1062
For the printer, you can take a look at the string printer at, [printer.h](https://github.com/symengine/symengine/blob/b0ca1277b6437c43b5c88188e8bd9f8165a31df8/symengine/printer.h#L207-L275) and also [test_printing.cpp](https://github.com/symengine/symengine/blob/b0ca1277b6437c43b5c88188e8bd9f8165a31df8/symengine/tests/printing/test_printing.cpp#L45-L54) for how to extend it.

[2016-08-09 15:47] isuruf commented on #902
This is now fixed

[2016-08-09 15:47] #902 closed

[2016-08-09 15:48] isuruf commented on #833
This is fixed now

[2016-08-09 15:48] #833 closed

[2016-08-09 15:52] isuruf commented on #381
This can be closed now. Visitor pattern is better than single dispatch in benchmarks.

[2016-08-09 15:52] #381 closed

[2016-08-09 15:54] isuruf commented on #216
`benchmarks/pydy_pendulum.py` in python repo implements this

[2016-08-09 15:54] #216 closed

[2016-08-09 15:56] isuruf commented on #157
`StrPrinter` follows SymPy's printing architecture and is faster than SymPy.

[2016-08-09 15:56] #157 closed

[2016-08-09 15:57] isuruf commented on #133
This benchmark is now in Python repo

[2016-08-09 15:57] #133 closed

[2016-08-09 15:58] isuruf commented on #298
This benchmark is in Python repo

[2016-08-09 15:58] #298 closed

[2016-08-09 15:59] isuruf commented on #600
You are right. This option can be given when needed and doesn't need to be added by default.

[2016-08-09 15:59] #600 closed

[2016-08-09 18:19] certik commented on #1062
Hi @dladd thanks for the interest. We can optionally depend on any kind of library, so if there is a C++ library that can parse MathML, we can use it. I found e.g. this: http://genesim.sourceforge.net/SMMLParser.html, but I didn't try it.

We'll be also happy to help you with other features that you might need for CellML, just let us know.

[2016-08-09 18:55] certik commented on #381
Ok, that works.

[2016-08-10 06:17] dladd commented on #1062
Thanks- that MathML parser from GeneSim does seem promising. It looks like it is allowing people to reuse the MathML parser:

but I'm not seeing an explicit license and that side of the project doesn't seem to have been updated since 2008. It also introduces a dependency on Xerces to parse the XML tree. But some kind of XML library will probably be necessary even if I make this from scratch for Sy

[2016-08-10 06:30] isuruf commented on #1062
If it's a big dependency we can optionally depend on it so that when symengine is built, you need to have `libSBML` for MathML support and otherwise MathML support is disabled.

How about something like [tinyxml2](https://github.com/leethomason/tinyxml2)? Has a permissive license (Zlib) and it's just one `.h` and `.cpp` file.

[2016-08-10 14:37] isuruf commented on #1062
@dladd, I looked at SMML and the link you posted. Both seems to be converting MathML to a string which needs to be parsed again to a SymEngine expression. What do you think?

(I think a generic MathML parser is a good project that can benefit other projects as well. From a generic MathML parser, I mean a parser that allows the user to generate a user defined expression type. It can be a C string,

[2016-08-10 23:12] dladd commented on #1062
Thanks @isuruf . We're mainly just interested in Content MathML. I think you're right- parsing with something like tinyxml2 and converting to SymEngine is sounding like the way to go. A possible downside might be that we won't be able to use tinyxml2 to validate MathML using the DTD before parsing and after printing. But validation should probably be done outside SymEngine anyway. We can always ch

[2016-08-13 10:11] srajangarg opened #1063 "Add platform independent printing for multivariate polynomials"
Right now, the printing of MPolys is platform dependent (?). Fix required.

[2016-08-16 05:22] dladd commented on #1062
We usually define systems of equations including the equality operator in MathML. This functionality seems to be picked up in sympy.core by the `relational` module.

In the discussion in #356 it appears that it was decided that implementing relationals was not a top priority for SymEngine since it is not a performance-critical area. It was also noted that evaluating relationals would be non-trivia

[2016-08-16 06:02] isuruf commented on #1062
@nishnik has been porting some of the relationals code into SymEngine. It's just a matter of porting this over. It should be easy to implement this although for the functionality be powerful, it will take time. (Things like `sqrt(6) == sqrt(2)*sqrt(3)`.)

Are these linear systems? Can you provide an example? It's not out of scope of SymEngine if it is in SymPy. An example would be helpful in deter

[2016-08-17 00:12] dladd commented on #1062
Thanks @isuruf . Fair enough- I'll have a play with some simple systems in SymPy to get a better feel for what capabilities might be reasonable. An example of a simple system we might be interested in is the [Lorenz equations](http://dtp-compphys.readthedocs.io/en/latest/opencor-tutorial/source/lorenz.html).

[2016-08-21 07:24] #1021 closed

[2016-08-21 07:24] isuruf commented on #1042
Fixed in #1070

[2016-08-21 07:24] #1042 closed

[2016-08-21 07:28] isuruf commented on #1023
Fixed in #1041

[2016-08-21 07:28] #1023 closed

[2016-09-03 11:47] isuruf commented on #418
Fixed in #1044

[2016-09-03 11:47] #418 closed

[2016-09-03 11:48] isuruf commented on #377
This is fixed now.

[2016-09-03 11:48] #377 closed

[2016-09-03 11:49] isuruf commented on #158
This is in https://github.com/symengine/symengine-feedstock

[2016-09-03 11:49] #158 closed

[2016-09-16 17:10] #1035 closed

[2016-09-19 19:38] certik opened #1081 "Add documentation"
And a tutorial. So that new users can get up to speed quickly.

[2016-09-19 20:46] ChrisRackauckas commented on #1081
+💯. Though the tests are very readable.

[2016-09-20 18:45] ChrisRackauckas opened #1082 "Wrap LU Factorization into SymEngine.jl"
I don't know if I just couldn't find it in the code (I found a QR factorization), but it would be nice to be able to find symbolic LU factorizations. One reason why this would be preferred to the QR factorization is because, although it's less numerically stable, LU factorized forms have faster calculations of the inverse (since both matrices are triangular).

[I am specifically looking to use thi

[2016-09-20 18:53] isuruf commented on #1082
There is a LU factorization and it is wrapped into C [here](http://github.com/symengine/symengine/blob/9f75c4f167fcda9c709075de3e72cdb4948e166c/symengine/cwrapper.h#L426)

[2016-09-20 18:56] ChrisRackauckas commented on #1082
I see. Then my issue changes to wrapping it for SymEngine.jl 👍 .

[2016-09-20 18:57] ChrisRackauckas commented on #1082
(Maybe it should be opened up on the other repository?)

[2016-09-20 18:59] isuruf commented on #1082
Yes. Opened it here, symengine/SymEngine.jl#41

[2016-09-20 18:59] #1082 closed

[2016-09-23 20:22] ivme commented on #1081
Using doxygen for documentation, correct?  I see that some of the code (class Basic, for instance) has already been commented for incorporation into doxygen-generated documentation.  Is the goal to comment all code similarly?

[2016-09-27 12:12] jverzani commented on #1082
I just added a pull request exposing SymEngine's `dense_matrix_LU` method, but want to point out that you can already call the generic LU decomposition (without pivoting) in Julia through  `lufact(A, Val{false})` where `A` is an `Array{Basic, 2}`.

[2016-09-27 16:09] ChrisRackauckas commented on #1082
I see. You guys overloaded the operators and so the generic LU does indeed work for Arrays of Basic. That's cool. Do those operators also simplify after each step?

[2016-09-27 17:15] isuruf commented on #1082
No in sympy sense, but yes in Calculus.jl sense. From that I mean, trivial and cheap simplifications like `sin(0) == 0`, `x + 2 * x == 3 * x` are done automatically. More complicated simplifications are not implemented in SymEngine yet. Eg: `y*sin(x)^2 + y*cos(x)^2 == y` is not implemented. SymPy has a `simplify` method that does this, but SymEngine doesn't have that yet.

[2016-09-28 05:40] isuruf commented on #713
[Boost.multiprecision](http://www.boost.org/doc/libs/master/libs/multiprecision/doc/html/index.html) has rational classes and floats and might be a better option than IMath or bsdnt

[2016-10-01 15:59] jppelteret opened #1083 "Problem building with Piranha"
I'm putting together a package for the [Spack package manager](https://github.com/LLNL/spack), and have hit a problem when building with the Piranha CAS library. I'm not quite sure whether this is a symengine problem or a piranha problem. I've attached the [build log](https://github.com/symengine/symengine/files/504445/spack-build.txt) for your perusal, with the salient lines being
[code]

[2016-10-01 16:02] jppelteret commented on #1083
Oh, and I forgot to note that this happens for both the development version and archived version `v0.2.0`.

[2016-10-01 17:13] jppelteret opened #1085 "Problem building with Piranha (2)"
A follow up issue after #1083 is fixed with #1084 . [Build log](https://github.com/symengine/symengine/files/504503/spack-build.txt) attached.

I should mention that this is built against the development version of `Piranha` on `OSX 10.11 El Capitan`.

[code]

[2016-10-02 02:23] certik commented on #1083
Thanks for reporting the problem @jppelteret. I think this should be fixed by #1084. I'll leave this open until that PR is merged.

[2016-10-02 02:35] certik commented on #1085
Which exact git commit of piranha are you using? This build on linux https://travis-ci.org/symengine/symengine/jobs/164288991 seems to be using the latest git version, and it works, on linux. Are you using the same version?

I think we only test Piranha with GNU compilers, and only on linux. So I wonder if this is caused by using AppleClang on OS X.

@bluescarni any ideas?

[2016-10-02 03:42] certik commented on #1085
#1084 might fix this.

[2016-10-02 07:53] bluescarni commented on #1085
@certik @jppelteret It seems like the first error appearing in the log is:

[code]

which seems to be triggered from here:

https://github.com/symengine/symengine/blob/master/symengine/polys/uintpoly_piranha.h#L115

Which seems kind of reasonable. I can't recall changing the visibility of the ``container_type`` typedef recently, so I am not exactly sure what is going on.  @isuruf any idea?

(Piran

[2016-10-02 07:54] bluescarni commented on #1085
(I can change the visibility of the typedef if needed, I am just curious about how this is not showing up on the CIs)

[2016-10-02 08:26] jppelteret commented on #1085
@certik It would have been the latest git version on the master branch.

[2016-10-02 08:27] jppelteret commented on #1085
@certik This issue is one that arises after the patch #1084 is applied.

[2016-10-02 09:29] isuruf commented on #1085
@bluescarni, I think gcc doesn't care about the visibility of that typedef. Clang apparently does.

[2016-10-02 09:32] isuruf commented on #1085
@bluescarni, in symengine, we only test piranha on linux, that's why this bug was not discovered early.

[2016-10-02 16:33] #1083 closed

[2016-10-02 16:33] #1085 closed

[2016-10-02 16:54] certik opened #1086 "Have our own optimal implementation of integer_class"
Currently the default is to use GMP. However, the Flint and Piranha implementation are faster. Given how important integers are for the rest of symengine, I would like to have our own BSD licensed implementation of integer class, that is as fast as Flint.

Flint and Piranha should still be used for polynomials. But at least when people install symengine, they don't have to worry about integers.

T

[2016-10-04 15:10] certik opened #1087 "Implement relational operations <=, ==, >=, <, >"
For example, this:

[code]

Would work like the following:

[code]

In SymPy, you can do things like:

[code]

[2016-10-05 03:02] isuruf commented on #1087
You can do this with `Piecewise`
`Piecewise( ((x-y in [0, inf)) and (y-z in [0, inf)), (x-y)/abs(x-y)), (True, 0))`

[2016-10-07 07:32] isuruf opened #1088 "Cwrapper improvements"
Following new features need to be added.
- [x] `rational_get_mpq` - Similar to `integer_get_mpz` - #1110
- [x] function to call that would indicate whether a component like MPFR or MPC is installed. - #1114
- [x] `complex_double_get(double complex d, basic s)` - converts `std::complex<double>` inside basic to a C `complex double` - #1123

[2016-10-08 09:40] isuruf opened #1089 "Rename UndefinedError to DomainError"
Also throw `DomainError` in places like these, https://github.com/symengine/symengine/blob/master/symengine/real_mpfr.cpp#L800

[2016-10-12 16:31] certik opened #1091 "Travis: Install a specific Piranha version"
Currently we always install the latest version, which then sometimes breaks things, e.g. here:

https://travis-ci.org/symengine/symengine/jobs/167098984#L382

the failure is caused by Piranha now requiring cmake 3.0.

The solution is to checkout a specific git version, so that our tests are reproducible and don't change. Then from time to time we upgrade to a newer Piranha version and fix tests if

[2016-10-17 11:11] isuruf commented on #1091
Fixed in #1093

[2016-10-17 11:11] #1091 closed

[2016-10-18 17:42] bjodah opened #1095 "Possible improvements for *DoubleVisitor"
from #1094

- LambdaDoubleVisitor could potentially benefit from adding extra `const`/`restrict` qualifiers:
    - e.g.: `void call(T *outs, const T *inps)` -> `void call(T * const __restrict__ outs, const T * const __restrict__ inps)`
- User specified number of inaccuracy ulp's in `LLVMDoubleVisitor` could be highly interesting.

[2016-10-24 17:39] ShikharJ commented on #1089
Can I work on this issue?

[2016-10-25 01:35] certik commented on #1089
@ShikharJ of course! You can work on any issue you want. Let us know if you need any help.

[2016-10-25 12:29] ShikharJ commented on #1089
@certik Should I keep the SymEngineException or just throw DomainError exception?

[2016-10-25 13:53] ShikharJ commented on #1089
@certik I have made the changes as specified, though I am clueless about running the tests (that the development workflow page recommends to run). How can I run the tests?

[2016-10-25 13:54] isuruf commented on #1089
Run `ctest` from the build directory. (`ctest -v` for more verbosity)

[2016-10-25 14:00] ShikharJ commented on #1089
It returns No Tests Were Found

[2016-10-25 14:03] isuruf commented on #1089
@ShikharJ, are you running it from the directory that you built symengine? Can you post the commands you used when building symengine?

[2016-10-25 14:06] ShikharJ commented on #1089
Actually I didn't specifically build symengine. I accessed the files using CLion and looked for the above issue manually.

[2016-10-25 14:28] ShikharJ commented on #1089
I see my mistake. Thanks @isuruf !

[2016-10-25 15:23] bjodah commented on #1087
FWIW, relationals in symengine would help a use-case I just encountered for `Lambdify`:

...
SympifyError: sympy2symengine: Cannot convert 'x >= 0' to a symengine type.
[code]

True
[code]

[2016-10-25 15:37] isuruf commented on #1087
See symengine/symengine.py#90. In it I used intervals (which was already implemented) and `contains`. `to_contains` can convert `x >= 0` to a symengine expression.
Now that And, Or, Not are all there, after implementing relationals, we don't need `contains` at all.

[2016-10-25 16:13] ShikharJ commented on #1089
@isuruf @certik I've run cmake ., make and ctest. They all run fine. What should I do next?

[2016-10-25 16:14] isuruf commented on #1089
Send a pull request with your changes.

[2016-10-26 03:56] #1089 closed

[2016-10-26 04:03] ShikharJ commented on #1088
@isuruf I would like to work on this issue.

[2016-10-26 05:41] ShikharJ commented on #1088
@isuruf I have added the first feature (locally), though I am clueless regarding the implementation of the second feature. Please guide me.

[2016-10-26 05:43] isuruf commented on #1088
second one should be something like `int symengine_have_component(const char *c)` where the input is `mpfr` or `mpc` or `flint` or `arb`. To check that these are installed you can use, `HAVE_SYMENGINE_MPFR` and similar macros

[2016-10-26 11:23] ShikharJ commented on #1088
@isuruf Wouldn't having bool as a return type be better?

[2016-10-26 11:27] isuruf commented on #1088
@ShikharJ, there's no `bool` type in C, only in C++.

[2016-10-26 11:31] ShikharJ commented on #1088
Oh! Thanks for clearing me up on that!

[2016-10-26 12:19] ShikharJ commented on #1088
@isuruf Where can I find the entire list of components to be checked?

[2016-10-26 13:44] ShikharJ commented on #228
@isuruf I believe this issue is no longer applicable sir, because even I did not get any warnings while building.

[2016-10-26 13:49] isuruf commented on #228
You need to enable `-Wconversion` to get the warnings.
Clean the repo. `export CXXFLAGS=-Wconversion` and then build again.

[2016-10-27 09:52] ShikharJ commented on #228
I applied the patch as directed above (enabling -Wconversion in UserOverride.cmake), but after running, I only got the following report:
$ cmake -DCMAKE_BUILD_TYPE=Debug
-- cotire 1.7.8 loaded.
--------------------------------------------------------------------------------

+-------------------------------+
| Configuration results SUMMARY |
+-------------------------------+

CMAKE_C_COMPILER:   /

[2016-10-27 15:41] certik commented on #228
Now run `make` and you should see the warnings if there are any.

[2016-10-27 15:45] ShikharJ commented on #228
@certik Running _make_ gives no warnings. That's the problem that I'm facing.

[2016-10-27 15:48] certik commented on #228
@ShikharJ maybe they got fixed. In that case, can you send a PR with the `-Wconversion` patch? If it passes on Travis, we should keep this warning on.

[2016-10-27 15:49] ShikharJ commented on #228
Sure.

[2016-10-27 15:51] isuruf commented on #228
@ShikharJ, if you change `UserOverride.cmake`, you need to delete `CMakeCache.txt` and run again. And then you should see `-Wconversion` in the line `CMAKE_CXX_FLAGS_RELEASE: -std=c++11 -Wall -Wextra -fno-common -fPIC -O3 -ffast-math -funroll-loops -Wno-unused-parameter -march=native -Wno-unknown-pragmas`

[2016-10-27 15:52] ShikharJ commented on #228
@isuruf Thanks again! I'll definitely try that.

[2016-10-27 15:54] CodeMaxx commented on #228
I'm still getting a lot of warnings.

[2016-10-27 15:58] ShikharJ commented on #228
@certik @isuruf Thanks for the support. I'm finally on the right path I believe, and I'll send in a PR as soon as I'm done fixing the warnings.

[2016-11-01 06:46] isuruf commented on #877
Arb can now be built with MSVC and all tests pass. This is for a static lib and not for a shared lib. There's still some more work to do to support a shared lib.

[2016-11-01 14:22] certik opened #1112 "Consolidate some of the Travis tests"
We currently test many of our libraries as a separate test. But I think we should try to consolidate tests of libraries that do not clash with each other. For example, I think the ECM, Primesieve and MPC tests can all be done in one test.

More tests can probably be consolidated, while still testing everything.

[2016-11-02 18:04] certik opened #1113 "Benchmark for finite differences application"
This benchmark was contributed by @pbrady: [b.tar.gz](https://github.com/symengine/symengine/files/567339/b.tar.gz).

To test this, do:
[code]

"ceq" file.  The file "ceq.txt" contains one equation per line and
should be parseable without too much difficulty.  Due to a variety of
constraints which are not directly included in the equations, there is
limited freedom in how the system can be solved.

[2016-11-02 18:31] pbrady commented on #1113
It should be noted that while maxima runs on top of most common lisp implementations there can be significant performance differences between different lisps.  I strongly recommend [sbcl](http://www.sbcl.org/)

[2016-11-02 19:27] certik commented on #1113
The GCL version ran forever, so I killed it. Then I tried Maxima in Sage, which is using ECL, and that is now running for ~40 minutes. Looks like I'll have to indeed use SBCL.

[2016-11-08 09:52] RiteshKB commented on #1088
@isuruf  what needs to be done in third feature?

[2016-11-08 18:54] ShikharJ commented on #1088
@RiteshKB Sir, I have already started my work on that. See my comments above.

[2016-11-11 13:21] bcumming commented on #1081
Please do this. We are trying to test symengine for our project, and find the lack of documentation, or even a list of supported features, is a hindrance.

[2016-11-13 04:09] certik commented on #1081
@bcumming thanks for the feedback. We'll do it.

[2016-11-22 18:04] isuruf opened #1128 "LLVM and GCC 5 ABI"
GCC 4.x and GCC 5.x have incompatible ABIs. LLVM is the only C++ library being used at the moment (piranha is header only). Using LLVM compiled with gcc 4 ABI with gcc 5 gives weird errors. Two options to handle this,

1. Detect whether the 2 ABIs are incompatible and raise an error in CMake
2. Use LLVM's C API

[2016-11-23 17:55] certik commented on #1128
The rule with C++, as well as Fortran, is that you have to use the same compiler (version) to compile the whole project. So you can't mix GCC 4 and 5.

Why do we compile LLVM with GCC 4 and then symengine with GCC 5? We have to choose a GCC version (4, 5, or 6), and then use that for both LLVM and symengine.

I don't know if these things can be detected in CMake. But the rule of thumb, for both de

[2016-11-23 18:23] certik opened #1131 "Use C99 complex type instead of our own struct"
As reported by @ShikharJ in https://github.com/symengine/symengine/pull/1123#issuecomment-262449967

This is exactly what was planned on implementing initially. Using double complex. The problem that arised was that using I from C99 gave an error like this
error: unable to find numeric literal operator ‘operator""iF’
d = i.imag()*_Complex_I + i.real();
( _Complex_I is a macro for I)
This is a well

[2016-11-23 18:24] certik commented on #1131
This seems to be a known problem: http://stackoverflow.com/questions/28030652/how-to-call-a-c-function-of-a-complex-argument-from-c

[2016-11-23 18:29] certik commented on #1131
So the problem seems to be that the `_Complex_I` doesn't work. So a simple workaround is to use `csqrt(-1)` instead. Here is a working example:
[code]
http://coliru.stacked-crooked.com/a/55ae11303b627953

[2016-11-23 18:37] ShikharJ commented on #1131
@certik I'll try that up. Thanks for the suggestion.

[2016-11-23 18:46] certik commented on #1131
@ShikharJ I put up a PR #1132 that seems to work.

[2016-11-26 03:56] isuruf commented on #1088
Closed via #1110 #1114 and #1123. Thanks @ShikharJ for the work

[2016-11-26 03:56] #1088 closed

[2016-11-26 08:56] isuruf opened #1133 "Print E**x as exp(x)"
This is what sympy does and looks better.

[2016-11-26 09:07] isuruf commented on #1128
Compiling with gcc 5 is fine if we use the gcc 4 abi.
Since we are using dependencies from conda-forge which were compiled with gcc 4.8.2, we can't use llvmdev package from conda-forge when compiling with a newer gcc compiler

[2016-11-26 09:08] isuruf opened #1134 "Try a gcc 6 build in travis-ci"
`gcc-6` package is available in travis.

[2016-11-26 09:08] ShikharJ commented on #1133
I'd like to work on this.

[2016-11-27 12:59] ShikharJ commented on #1134
@isuruf I'd like to take this up as well, if it is fine.

[2016-11-27 13:44] ShikharJ commented on #1134
The result that I got: https://travis-ci.org/ShikharJ/symengine/jobs/179200101
Using the code:
[code]

[2016-11-27 15:24] isuruf commented on #1134
Yes, there are new warnings that should be fixed.

[2016-11-27 15:52] ShikharJ commented on #1134
Would you like me to work on them?

[2016-11-27 15:54] isuruf commented on #1134
Yes, let us know if you have any questions.

[2016-11-27 16:03] certik commented on #1128
@isuruf we can create our own Conda channel compiled with a newer gcc compiler.

[2016-11-27 17:10] isuruf commented on #713
Closed via #1121

[2016-11-27 17:10] #713 closed

[2016-11-27 17:39] certik commented on #713
SymEngine now doesn't depend on GMP, thanks to @ivme and @isuruf.

[2016-11-27 17:59] inducer commented on #713
Awesome! Thank you for making this possible.

[2016-11-30 05:57] ShikharJ opened #1139 "Comprehensive Code Coverage using down_cast()"
Relevant: #1141 #1124 #746 #744
static_cast() needs to be replaced with either down_cast() or implicit_cast(), depending upon down-casting or up-casting respectively, in the following files (only):
~~cwrapper.cpp~~
upolybase.h
fields.cpp
~~test_evalf.cpp~~
~~basic-inl.h~~
~~test_parser.cpp~~
~~test_functions.cpp~~
~~test_basic.cpp~~
~~test_number.cpp~~
~~test_printing.cpp~~
eval_double.cpp (test_e

[2016-12-01 14:05] isuruf opened #1140 "Add symengine-2.0 to homebrew/science"
See https://github.com/Homebrew/homebrew-science and https://github.com/Homebrew/homebrew-science/blob/master/.github/CONTRIBUTING.md

[2016-12-03 03:01] #1133 closed

[2016-12-03 18:32] isuruf opened #1143 "Wrap as_numer_denom in C"

[2016-12-04 07:11] ShikharJ commented on #1143
I might be able to come up with a implementation if I stick around for some time. I'd like to take up this issue as well.

[2016-12-05 08:31] #1143 closed

[2016-12-06 13:07] ShikharJ commented on #1025
@isuruf I would like to work on this. But just out of curiosity, why shouldn't `C` be equal to `A` or `B`. Or more simply, why shouldn't `A` or `B` be Identity Matrices? Am I missing something?

[2016-12-06 13:11] isuruf commented on #1134
Closed via #1142

[2016-12-06 13:11] #1134 closed

[2016-12-10 07:26] rohitrango commented on #1056
Try `Eq` class in SymPy.
[code]

I suspect that in Python, the `__eq__` is not implemented, but I'm not sure.

[2016-12-10 15:14] isuruf commented on #1025
I meant `mul_dense_dense(A, A, B)` will not work.

[2016-12-11 14:20] jppelteret opened #1148 "MacOS and rpath"
Hi all!

Apologies in advance for the lengthy message.

I'm trying to integrate `SymEngine` (shared library) into another project. I've managed to get `CMake` to detect and configure against `SymEngine` but have hit some linking errors when compiling an executable.

So I've gone back to basics and have built a minimal `SymEngine` on `MacOS 10.11` using the following options
[code]
This leads to th

[2016-12-11 15:53] isuruf commented on #1148
Can you try `cmake -DCMAKE_INSTALL_NAME_DIR=<PATH>/SymEngine/install/lib`?

[2016-12-11 16:56] jppelteret commented on #1148
Thanks a lot @isuruf, that did the trick! I'll embed it in what I'd added to `CMakeLists.txt` and will open a PR shortly for you to inspect.

[2016-12-12 15:26] #1148 closed

[2016-12-15 13:45] isuruf opened #1154 "`subs(1/x, x, 0)` is 0"
From symengine/SymEngine.jl#22

[2016-12-15 13:47] isuruf opened #1155 "Use `down_cast<>().` instead of `rcp_static_cast<>()->`"
For eg: `static_cast<const Integer &>(*i).as_integer_class()` instead of `rcp_static_cast<const Integer>(i).as_integer_class()`

[2016-12-15 15:00] ShikharJ commented on #1155
@isuruf I'd like to take this up.

[2016-12-15 16:26] certik commented on #1155
@isuruf I think we should use `down_cast`, not `static_cast`. I would like all these conversions to be checked in Debug mode to make sure that they are safe. I am hoping that no matter what you put in XXX in `down_cast<XXX>(*i).as_integer_class()`, that it will either not compile, or raise an exception in Debug mode.

[2016-12-15 16:29] isuruf commented on #1155
@certik, I agree.

[2016-12-16 05:57] aneesh2312 commented on #1155
If noone took this up yet, I would like to start on it.

[2016-12-16 06:10] ShikharJ commented on #1155
@aneesh2312 I am working on it.

[2016-12-16 09:17] srajangarg commented on #1154
This has to deal with how `pow(0, <anything>)` is currently handled in SymEngine. It is directly taken to be zero.

Sympy does this
[code]

whereas SymEngine reduces to `0` in all cases (`0**x` is a non-canonical `Pow` according to the current code). I think we should shift to how Sympy does it. @certik

[2016-12-16 16:38] jppelteret opened #1157 "Possible incorrect result for reciprocal trig functions"
I think that the definitions for `csc` and `sec` may be incorrect and in fact reversed (for real doubles at least). This is a bit surprising because inside [eval_double.cc](https://github.com/symengine/symengine/blob/master/symengine/eval_double.cpp#L114) the implemented definition in fact looks correct. Being a newcomer to `SymEngine` I have no idea which functions call that which ultimately comp

[2016-12-18 07:21] #1157 closed

[2016-12-18 08:17] isuruf opened #1159 "Test MPFR and MPC with MSVC on appveyor"
Currently this is not tested.

[2016-12-21 09:35] ShikharJ commented on #915
@isuruf I'd like to take this up.

[2016-12-27 14:09] ranjithkumar007 opened #1161 "Missing else-if statement in rsub function in complex.h"
In Complex.h

[code]

The above function is missing an else-if statement for Number "other" of type "Complex".
rsubcomp(const Complex &other) function is already implemented but it is not called in rsub()

I think it should be like
[code]

[2016-12-28 20:21] ranjithkumar007 commented on #1161
else-if is present in complex_double.h ...mis-interpreted the function with function in complex.h

[2016-12-28 20:21] #1161 closed

[2016-12-29 18:29] ranjithkumar007 commented on #1154
@srajangarg  edit: pow(0,0) is reducing to 1 in SymEngine .
rest are reducing to zero as you pointed out.

[2017-01-08 07:49] ShikharJ commented on #1139
Fixed via #1141.

[2017-01-08 07:49] #1139 closed

[2017-01-09 07:12] #1154 closed

[2017-01-09 13:46] vyasgiridhar opened #1169 "Adding symengine to archlinux AUR"
What about adding symengine to aur?

[2017-01-09 13:47] isuruf commented on #1169
https://aur.archlinux.org/packages/symengine/

[2017-01-11 05:18] #1169 closed

[2017-01-19 03:11] isuruf opened #1174 "pow(Constant, RealDouble) is not evaluated automatically"
Neither is `pow(RealDouble, Constant)`. This is because `Constant` is not inheriting from `Number`.

[2017-01-19 06:28] jppelteret commented on #1174
@isuruf If you're willing to give me a few hints at where this fix should be implemented, I'd be happy to take a shot at implementing it.

[2017-01-19 06:52] ShikharJ commented on #1174
@jppelteret Are you working on this issue? If not, I'd like to take this up.

[2017-01-19 06:56] jppelteret commented on #1174
@ShikharJ I haven't started working on it yet, but I'm invested in getting it sorted out. If you have a good idea as to what needs to be done then please feel free to take it up!

[2017-01-19 06:59] jppelteret commented on #1174
Oh, its just struck me. One probably needs to extend the [definition of pow](https://github.com/symengine/symengine/blob/master/symengine/pow.cpp#L90), right? I'd only be able to start working on this this afternoon, so @ShikharJ if you are going to work on this right away then I won't get in the way :-)

[2017-01-19 07:04] ShikharJ commented on #1174
@jppelteret Thanks for the quick reply :) I'll get on it right away.

[2017-01-19 08:06] jppelteret commented on #1174
Thanks very much @ShikharJ . I appreciate it 😀

[2017-01-19 09:38] isuruf opened #1175 "Rethink Evaluate class design."
I'm not sure why we have this design, but I think it would make more sense if classes like `RealDouble`  were to inherit from both `Evaluate`  and `Number`.

@certik, thoughts?

[2017-01-19 09:39] isuruf opened #1176 "Move log to functions.h"
Currently `log` is in `pow.h`, but it doesn't make much sense as `log` is a `Function` while `pow` is not.

[2017-01-19 09:56] ranjithkumar007 commented on #1176
+1 .
@isuruf  I would like to do this within  PR #1172

[2017-01-19 10:04] isuruf commented on #1176
Let's get #1172 ready first and we can fix this in another PR.

[2017-01-19 16:43] ShikharJ commented on #1155
Fixed via #1156.

[2017-01-19 16:43] ShikharJ commented on #939
Fixed via #1127.

[2017-01-19 16:44] ShikharJ commented on #915
Fixed via #1171.

[2017-01-19 16:44] #1155 closed

[2017-01-19 16:44] ShikharJ commented on #737
Fixed via #1145.

[2017-01-19 16:45] #939 closed

[2017-01-19 16:45] ShikharJ commented on #136
Fixed via #1150.

[2017-01-19 16:46] #737 closed

[2017-01-19 16:46] isuruf commented on #136
@ShikharJ, is this fixed for all Basic subclasses?

[2017-01-19 16:49] ShikharJ commented on #136
@isuruf The ones mentioned above and a few others. I could not make changes to all, as some of them such as `ComplexDouble` and `RealDouble` used a certain template routine, that I didn't want to touch.

[2017-01-22 14:17] #1174 closed

[2017-01-23 16:37] certik opened #1182 "Add an example how to integrate a polynomial"
This example should show how to:

* create a polynomial using symengine, as a result of some calculation
* convert to Piranha or Flint
* integrate
* convert back

[2017-01-23 20:16] kvmanohar22 commented on #814
@isuruf I would like to work on the remaining implementation. Could you please update the checklist on what is yet to be implemented ?

[2017-01-24 07:13] jppelteret opened #1186 "Compilation error: get_mpq_t, get_mpz_t"
I'm building `SymEngine` against `boost`, rather than `Flint` etc. On the master branch I'm currently getting some compilation errors like
[code]

[Build log attached.](https://github.com/symengine/symengine/files/725873/spack-build.out.txt)

[2017-01-24 07:15] isuruf commented on #1186
This is because `INTEGER_CLASS=boostmp` and `WITH_MPFR=true` are incompatible. We should disable `WITH_MPFR=true` if  `INTEGER_CLASS=boostmp` is set.

[2017-01-24 07:20] jppelteret commented on #1186
Thanks for the explanation. So this is clearly a misconfiguration on my part. I'll update the [spack package](https://github.com/LLNL/spack/pull/2919) accordingly.

[2017-01-24 09:46] jppelteret opened #1187 "Functions "erf" and "erfc" missing in Evaluate class"
As the title says, `erf` and `erfc` functions are missing in the `Evaluate` class. Without these (and their automatic evaluation) its not possible to evaluate the result of these functions called with a custom number class derived from `NumberWrapper`.

Relates to #1185

[2017-01-24 09:48] ranjithkumar007 commented on #1187
@jppelteret  i would like to have a swing on this !!

[2017-01-24 09:52] jppelteret commented on #1187
Thanks @ranjithkumar007, that would be great! If I'm not mistaken, the approach used in #1185 to implement the `exp` function is relevant here.

[2017-01-24 09:55] ShikharJ commented on #814
@kvmanohar22 I am currently working on UpperGamma and LowerGamma, maybe you can contact @vishusidana95 and talk to him about his plans on implementing `Dirichlet_Eta`.

[2017-01-24 12:42] jppelteret opened #1188 "Function "asech" missing in Evaluate class"
As the title says, `asech` function [is missing](https://github.com/symengine/symengine/blob/fc581dccc33556c407d240f5353a7c7c818da10e/symengine/number.h#L180) in the `Evaluate` class. Without this (and its automatic evaluation) its not possible to evaluate the result of these functions called with a custom number class derived from `NumberWrapper`.

Relates to #1185 and #1187

[2017-01-24 14:45] jppelteret commented on #1187
I think that there might be more  functions that also cannot be evaluated with `NumberWrapper` derived numbers, but I'm not 100% certain (I haven't yet created a test case for these that demonstrate failure):
- [ ] `sqrt`
- [ ] `atan2`
- [ ] `min`
- [ ] `max`

@isuruf Do you any comment about which functions from [`functions.h`](https://github.com/symengine/symengine/blob/master/symengine/function

[2017-01-24 16:10] isuruf commented on #1175
Or we can virtual function calls on `Basic` which would by default call the current implementation, but `Number` types will extend them.

[2017-01-24 16:14] aditodkar commented on #1188
Hi, I am new to symengine and would like to work on this can you tell me how to get started.

[2017-01-24 16:17] isuruf commented on #1187
`min` and `max` should also work, even though it's not the most efficient implementation.
For other one argument functions, yes. For two args, we have to have some coercion for the two args.

[2017-01-24 16:21] jppelteret commented on #1187
Ok, thanks for the clarification once again! So if I understand correctly only `erf` and `erfc` and the other one argument functions `zeta, LogGamma, etc.`  need implementation.

[2017-01-24 16:24] jppelteret commented on #1188
Hi @aditodkar! A fix is already in progress for this (see  #1189). Thanks very much for being willing to implement this though! There are a couple of outstanding functions to be implemented that you could take a go at (see #1187). I'm not really familiar with the low-level working of `SymEngine`, so I would recommend that you look at patches that are being, and have been, developed for #1185 and

[2017-01-24 17:25] aditodkar commented on #1175
Hi, I am new to symengine and would like to work on this can you tell me how to get started.

[2017-01-25 05:23] kvmanohar22 commented on #1176
@isuruf, @ranjithkumar007   I have moved log into functions.h, here's the PR [#1191](https://github.com/symengine/symengine/pull/1191)

[2017-01-25 23:18] ShikharJ commented on #1159
I'd like to take a shot at this.

[2017-01-26 16:37] #915 closed

[2017-01-26 20:54] poke1024 opened #1197 "Function "abs" is crashing for me"
This might be a problem with my build, but the following code keeps crashing for me:

SymEngine::abs(SymEngine::add(SymEngine::mul(SymEngine::integer(-1), SymEngine::symbol("a")), SymEngine::symbol("b")));

The stacktrace looks like an infinite recursion:

<img width="498" alt="stacktrace" src="https://cloud.githubusercontent.com/assets/11859538/22349925/06c84044-e412-11e6-9aac-974e1e433be7.png">

[2017-01-27 02:55] isuruf commented on #1197
I can reproduce this.

[2017-01-27 06:39] ranjithkumar007 commented on #1176
Fixed via #1195

[2017-01-27 06:46] #1176 closed

[2017-01-27 07:55] #1197 closed

[2017-01-28 17:50] #1140 closed

[2017-01-29 15:57] isuruf commented on #1188
Fixed in #1189

[2017-01-29 15:57] #1188 closed

[2017-01-30 11:17] #1187 closed

[2017-01-30 15:19] #1186 closed

[2017-02-04 10:06] jppelteret opened #1209 "Evaluation of FunctionSymbol derivative not possible"
With reference to [this post](https://groups.google.com/forum/#!topic/symengine/TOXRf5Vgw14), it appears that the substitution of a function derivative is not correct. More specifically, it

Here's a MWE that highlights the issue.
[code]

[2017-02-10 10:01] mohd-omama commented on #1112
Hi, I'm new to symengine

I would like to fix this bug!

[2017-02-14 20:06] poke1024 opened #1212 "Unexpected expression change with abs"
Evaluating `abs(System`a + System`b)` will result in `abs(-System`a + System`b)`, which is obviously not wrong, but can be a sort of nuisance for some SymEngine users that expect pure symbolic expressions to stay the exactly same. As far as I understand, -1 seems to get multiplied into `abs` and then some canonical symbol name ordering takes place. I'm not sure how code using SymEngine detect (and

[2017-02-15 02:17] isuruf commented on #1212
Here's where that's done, https://github.com/symengine/symengine/blob/cd935ee5e16e6175031d2d4f1c85ef59d6a11ef5/symengine/functions.cpp#L2988

We do this because then it's easier to check for equality, assign a hash and compare.
In your case, for both to be equivalent, we need to assign a hash common to both (to respect the hash contract that `a == b` only if `hash(a)==hash(b)`). Also, in equality

[2017-02-16 11:00] isuruf commented on #814
Fixed via #1199 and #1151

[2017-02-16 11:00] #814 closed

[2017-02-19 14:36] isuruf opened #1213 "Add external functions to LLVMDoubleVisitor"
Functions like `tan` are currently not implemented. To figure out how to do that, LLVM's code generators can be used.

[code]

Compile to LLVM IR

    clang -S -emit-llvm test.cpp

Compile IR to C++ code to generate the IR

    llc -march=cpp -o test-gen.cpp test.ll

[2017-02-19 14:37] isuruf opened #1214 "Complex number support for LLVMDoubleVisitor"
Only `double`s are supported. It would be nice to have support for complex doubles.

[2017-02-22 12:51] isuruf opened #1218 "Benchmark mppp integer and flint integer"
[mppp](https://github.com/bluescarni/mppp) was integrated into [piranha](https://github.com/bluescarni/piranha) and `piranha::integer` should now be using `mppp::integer`.

We should check the timings of benchmarks like `expand2`.

[2017-02-22 13:07] isuruf opened #1219 "Implement common subexpression elimination"

[2017-02-22 13:46] ShikharJ commented on #1218
@isuruf I'd like to take this up.

[2017-02-23 23:29] shreyasramachandran commented on #1218
I am new to open source and would like to fix this bug .
Can someone tell me the know hows .

[2017-03-08 17:56] sylvaticus opened #1222 "Where is the user documentation"
Hello,
 I can't find the user documentation (the doc folder seems to be a template ?? )

Also, why in the project description there is a link to SymPy ? In the SymPy project page it is stated that SymPy is written totally in python..

[2017-03-09 08:53] ShikharJ commented on #1222
Hi @sylvaticus
Unfortunately, there is no proper documentation currently available for `SymEngine`.
This project was initially developed to serve as a symbolic backend for the `SymPy` CAS, for speeding up symbolic computations. So basically, `SymEngine` is a rewrite of core parts of `SymPy` in C++. Though a large number of features implemented in `SymPy` are also available in `SymEngine`, still it

[2017-03-15 20:46] kanchanarp commented on #1218
I would like to work on this. How is the progress of this one?

[2017-03-17 12:59] erikagnvall opened #1224 "test_lambda_duoble fails when WITH_LLVM=yes"
The `test_lambda_double` test seems to fail when SymEngine is built with LLVM. Steps I took:

* Checkout SymEngine master (ff148c1f0d28e374862b27a89e4ad61e5d305fe2 at the time of writing)
* Build and install LLVM (3.9.0) from source
* Compile SymEngine (with `WITH_LLVM=yes`, *this is the important part*)
* Run the tests with `ctest`

Result (irrelevant output removed):
[code]

Specifically running

[2017-03-17 14:28] ShikharJ commented on #1224
@Meldanya I think these errors are because of the LLVM version being used. We currently test 3.8.0 if I'm not mistaken (I couldn't reproduce the errors on my machine). However, I'm not much confident to tell what can be done to fix this, or whether a probable fix will be backwards compatible with 3.8.0.

[2017-03-17 14:42] Meldanya commented on #1224
@ShikharJ As far as I could tell from the Travis logs, SymEngine isn't tested with the LLVM flag enabled? I'll try testing against LLVM 3.8.0 and let you know if I'm able to reproduce the problem.

[2017-03-17 15:02] ShikharJ commented on #1224
@Meldanya Please take a look [here](https://travis-ci.org/symengine/symengine/jobs/212039907/config). Build 15 contains the `WITH_LLVM=yes` clause in the `env` line. For the version of LLVM used you can refer [here](https://github.com/symengine/symengine/blob/master/bin/install_travis.sh#L96-L97).
Also, keep us posted if you face any more issues.

[2017-03-17 15:48] Meldanya commented on #1224
@ShikharJ Ah, sorry, I totally missed that!

However, I can't get it to work with LLVM 3.8.0 either. I get the same error. I didn't install with Conda though, I build LLVM from the source tar file [here](http://releases.llvm.org/3.8.0/llvm-3.8.0.src.tar.xz). Can't see how that should make any difference though?

Do you have any ideas for further troubleshooting?

[2017-03-17 16:12] ShikharJ commented on #1224
Unfortunately, I don't. Maybe @isuruf can help.

[2017-03-18 16:28] isuruf commented on #1224
@Meldanya, I can't reproduce your issue. Can you give us a bit more info on your system and also  how you compiled LLVM and symengine?

[2017-03-20 15:48] Meldanya commented on #1224
Sorry for the delay, sure I can provide more details. Let me know any other information you need:

[code]

Just to make sure there isn't anything weird with my system, I created a new VM in VirtualBox with Ubuntu 16.04.2 and ran the following script:

[code]

I still get the same error.

When you run the tests, you install LLVM with Conda right? Could LLVM have been built with different options in

[2017-03-21 04:08] isuruf opened #1225 "Print `E` as `exp(1)` as well."
`exp(x)` is printed as `exp(x)`
`exp(1)` is printed as `E`. It's better to print it as `exp(1)` for consistency.

[2017-03-21 04:10] kanchanarp commented on #1225
I would like to work on this.

[2017-03-21 05:38] isuruf opened #1226 "Version libsymengine.so"
Here's an example of gmp,
[code]
the libraries are versioned. We should do the same for `libsymengine.so` and also have a soname for the library.

http://tldp.org/HOWTO/Program-Library-HOWTO/shared-libraries.html
https://cmake.org/cmake/help/v3.0/prop_tgt/SOVERSION.html

[2017-03-21 06:24] ranjithkumar007 commented on #1226
@isuruf , Is this the complete list of shared libraries ?

/lib64/ld-linux-x86-64.so.2
/lib/x86_64-linux-gnu/libc.so.6
/lib/x86_64-linux-gnu/libgcc_s.so.1
/lib/x86_64-linux-gnu/libm.so.6
/usr/lib/x86_64-linux-gnu/libgmp.so.10
/usr/lib/x86_64-linux-gnu/libstdc++.so.6

Command that generated list of shared libraries used by the executables is :
[code]
Source : [StackOverflow](http://stackoverflow.co

[2017-03-21 07:01] isuruf commented on #1226
This is about versioning `libsymengine.so`
see,
http://tldp.org/HOWTO/Program-Library-HOWTO/shared-libraries.html
https://cmake.org/cmake/help/v3.0/prop_tgt/SOVERSION.html

[2017-03-21 07:13] ranjithkumar007 commented on #1226
I interpreted the title wrongly.
thanks for clarifying.

[2017-03-21 11:29] prateeksingh0001 commented on #1225
Hi, I would like to work on this issue.
@isuruf I'm not able to reproduce the error, on using the expr() function I'm getting an answer of double format like expr(2) gives me an answer of 7.38906. Can you tell me how did you get it ?

[2017-03-21 13:39] bhavishyagopesh commented on #1218
@isuruf, What I think, that since mp++ was added to piranha, the benchmark timings might decrease, So what benchmarks need to be timed apart from expand2?

[2017-03-21 16:22] isuruf commented on #1225
@prateeksingh0001, what's `expr(2)`? How did you run your code?

[2017-03-21 17:26] prateeksingh0001 commented on #1225
Sorry for the typo, I ran the `exp()` method in pow.cpp file. I included the symengine library in an external c++ file and then ran it.

[2017-03-24 03:11] isuruf opened #1230 "Accept unicode for symbols in the parser"

[2017-03-24 08:07] BlackTeaAndCoffee opened #1232 "Where is Pow?"
I use symengine in python3 and it's great. Cudos for that. But i would like to use Pow for exponentiating. Currently is use symengine to construct a function, which i then let transform into c code using the printing module of sympy. Then i use ctypes to integrate the function. The bottle neck is currently the printing of the c code. If i could use Pow, i could avoid the printing and things would

[2017-03-24 12:57] isuruf commented on #1232
I'm not sure I understand what you want. Can you explain more?

[2017-03-24 16:41] BlackTeaAndCoffee commented on #1232
Of course,

first of all, i can not use symengine.pow(2,2) for example. That does not work, because there is no function pow in symengine, atleast if i do help(symengine) in the python console there is no mention of the pow function.

Ok now to the c code part. I'm using ctypes to integrate a function, because this way it's much faster. For this i need to convert the function that i constructed sy

[2017-03-24 18:17] isuruf commented on #1232
- You can use python's builtin pow `pow(x, 2)`  or just `x**2`.
- FYI, we moved from printing `E**2` to `exp(2)` in symengine master :worried: to make it compatible with sympy
- For generating c-code for symengine, we have a work in progress here, https://github.com/symengine/symengine.py/pull/90
- I'm not sure what you mean by "you are using ctypes to integrate", but if it means generating code f

[2017-03-24 21:14] BlackTeaAndCoffee commented on #1232
Hi, I used lambdfiy before in sympy, but this was when i used typical scipy to integrate. There is this extension, where you can use ctypes to make your integration with scipy.integrate faster. For that i need the function i want to integrate in c. I know that i can use the built in function pow(x,2) or x**2, t, but converting every x**2 to pow(x,2),(x**2 + x)**2 to pow(pow(x,2)+x,2) and much more

[2017-03-25 02:31] #1230 closed

[2017-03-25 03:48] isuruf commented on #1232
`Lambdify` is just a C function pointer with the signature `void func(double* input, double *output)`. You can create a ctypes function using `ctypes.cast` if there is an API to get the address of this function pointer, right?

[2017-03-25 15:16] BlackTeaAndCoffee commented on #1232
I don't know. I really just look at how fast different methods are.
Maybe the way you are doing things with lambdify is faster. I'll try it out.

Best wishes

Am 25.03.2017 um 04:48 schrieb Isuru Fernando:

[2017-03-25 15:24] isuruf commented on #1232
Can you send a benchmark so that I can run and see?

[2017-03-25 15:27] BlackTeaAndCoffee commented on #1232
Of course,

i'll do that.

Best Wishes
Musta

Am 25.03.2017 um 16:24 schrieb Isuru Fernando:

[2017-03-27 12:13] Sumith1896 commented on #990
Closed via https://github.com/symengine/symengine/pull/1217
We should target https://github.com/symengine/symengine/issues/849

[2017-03-27 12:13] #990 closed

[2017-03-27 14:24] certik commented on #1225
SymPy also prints `E`:
[code]

[2017-03-27 14:31] certik opened #1238 "Make our "formatting" test fail more clearly"
When a test fails because the code has incorrect formatting, it is currently not very clear. The latest example of this is: https://github.com/symengine/symengine/pull/1228#issuecomment-289468690, the error is buried in the middle of the output (https://travis-ci.org/symengine/symengine/jobs/214969418#L736-L759).

Rather, we should make it prominent. Perhaps create a dedicated Travis test just for

[2017-03-27 15:00] isuruf commented on #1224
Thanks for the detailed instructions. I can reproduce the error. I'll look into this more.

Btw, script for how conda builds it is here, https://github.com/conda-forge/llvmdev-feedstock/blob/master/recipe/build.sh

[2017-03-27 15:09] isuruf commented on #1224
When I build LLVM in Release mode, it works fine. Not sure why it fails in debug mode though

[2017-03-27 15:27] #1209 closed

[2017-03-28 11:17] bhavishyagopesh commented on #1218
@isuruf ,Here's what I got :
`add1.cpp : 1904
eval_double1 : 28.276ms
expand1 : 255ms
expand2 : 3620ms
expand2b : 155ms
expand3 : 27ms
expand6 : 87ms
expand6b : 122ms
expand7 : 358ms
lwbench
Time for A : 	     0.005192753
Time for B : 	     0.003061796
Time for C : 	     0.010373382
Time for D : 	     0.000083880
Time for E : 	     0.000070494

matrix_add1 : 11 microseconds
matrix_add2 : 6 microse

[2017-03-28 11:19] isuruf commented on #1218
Is this with mppp integer or flint integer?

[2017-03-28 11:34] bhavishyagopesh commented on #1218
I checked with CMakeLists.txt it had Flint false, so it should be mppp....

[2017-03-28 11:36] isuruf commented on #1218
Run CMake and in the output you should see `INTEGER_CLASS: `.

[2017-03-29 04:48] #1226 closed

[2017-03-29 09:46] isuruf commented on #1225
Yes, we do the same now. Isn't that inconsistent though?

[2017-03-29 16:47] #1128 closed

[2017-03-29 16:48] isuruf commented on #1222
Duplicate of #1081

[2017-03-29 16:48] #1222 closed

[2017-03-30 01:14] #1238 closed

[2017-03-30 07:13] Meldanya commented on #1224
@isuruf I just tried building LLVM in Release mode and that works for me as well.

Thanks for the help to find a workaround. I'll let you decide if you want to keep the issue open, from my point of view it could be closed now.

[2017-04-07 17:13] #1213 closed

[2017-04-10 21:32] ChrisRackauckas commented on #1225
`E` is not a normal thing in Julia. If it used `e` or `exp(1)`, then building functions from the resulting expressions would work. Or if it automatically translated in SymEngine.jl that would be fine. But it currently throws errors whenever it shows up and the place where the function is defined does not have that constant from SymEngine.jl.

[2017-04-11 04:42] isuruf opened #1247 "Cwrapper improvements"
Following needs to be added to cwrapper
- [x] max, min
- [x] oo, zoo
- [x] erf, erfc
- [x] nan

[2017-04-11 12:54] ShikharJ commented on #1247
I'd like to take a swing at this @isuruf

[2017-04-12 15:09] isuruf commented on #1247
Fixed in #1249

[2017-04-12 15:09] #1247 closed

[2017-04-21 16:18] ChrisRackauckas commented on #1225
Don't mean to be pushy, but I would like to bump this because it's tagged as the last issue before the next release. The PR is already prepared, so it's just an issue of whether or not it is a good idea. I was asking for this because Julia doesn't know what `E` is, and this caused issues when handling the output of the differentiation. That was dealt with by adding a Julia printer, so this is no l

[2017-04-21 16:21] isuruf commented on #1225
Yes, we'll keep the default for Python and have different printers for different languages. I've removed the milestone.

[2017-04-21 16:31] #1225 closed

[2017-04-22 10:03] prateeksingh0001 commented on #1218
@isuruf on running the benchmarks this is what I've got.
`
INTEGER_CLASS : GMP
add1.cpp : 879ms
eval_double1 : 41.0495ms
expand1 : 203ms
expand2 : 2067ms
expand2b : 114ms
expand3 : 40ms
expand6 : 59ms
expand6b : 74ms
expand7 : 295ms
lwbench
Time for A : 	     0.009043015
Time for B : 	     0.002347597
Time for C : 	     0.015698556
Time for D : 	     0.000147008
Time for E : 	     0.000094002

mat

[2017-04-22 10:09] prateeksingh0001 commented on #1218
@isuruf on running the benchmarks this is what I've got.
`INTEGER_CLASS : GMP
add1.cpp : 879ms
eval_double1 : 41.0495ms
expand1 : 203ms
expand2 : 2067ms
expand2b : 114ms
expand3 : 40ms
expand6 : 59ms
expand6b : 74ms
expand7 : 295ms
lwbench
Time for A : 0.009043015
Time for B : 0.002347597
Time for C : 0.015698556
Time for D : 0.000147008
Time for E : 0.000094002

matrix_add1 : 11 microseconds
matr

[2017-04-22 10:19] prateeksingh0001 commented on #1218
@isuruf on running the benchmarks this is what I've got.

` INTEGER_CLASS : GMP
add1.cpp : 879ms
eval_double1 : 41.0495ms
expand1 : 203ms
expand2 : 2067ms
expand2b : 114ms
expand3 : 40ms
expand6 : 59ms
expand6b : 74ms
expand7 : 295ms
lwbench
Time for A : 0.009043015
Time for B : 0.002347597
Time for C : 0.015698556
Time for D : 0.000147008
Time for E : 0.000094002

matrix_add1 : 11 microseconds
ma

[2017-04-22 10:37] bluescarni commented on #1218
Note that mp++ has not been included in any released version of piranha yet, currently it is only available in the git HEAD. And the integration of mp++ in piranha probably broke things for symengine, because I had to do some changes in the API. So my understanding is that the timings above are all referring to the "old" integer class from piranha.

@isuruf how do you think it would be better to p

[2017-04-22 12:06] bluescarni commented on #1218
In the long run, maybe mp++ should become an external dependency for piranha. This would probably simplify the situation for symengine as well I guess?

[2017-04-25 13:36] prateeksingh0001 commented on #1182
I have tried solving this, for integrating the polynomial, I converted it to Piranha(of the type `UIntPolyPiranha`) I was able to successfully extract the polynomial with `b->get_poly()` where `b` is the polynomial of type `UIntPolyPiranha` in variable 'x' but when trying to integrate the polynomial with `b->get_poly().integrate(var)` where `var` is `std::string var(x->get_name())`. I am getting e

[2017-04-26 12:09] Sumith1896 commented on #1182
/cc @srajangarg

[2017-05-05 21:13] rdbyk opened #1253 "Simplification of expressions with NaN?"
Hi,

I am using a clone of today and noticed that simple expressions with NaN do not get
simplified as expected. Please have a look at the following examples:

-----------------------------

--> Sym("0/0 + x")
 ans  =

   nan + x
                                                                        (1:Add)
-> Sym("0/0*x")
 ans  =

   nan*x

[2017-05-06 05:48] isuruf commented on #1253
Yes, NaN support is minimal for now. This can be easily fixed once https://github.com/symengine/symengine/pull/1058 is in, which I think will happen this summer.

[2017-05-09 16:18] rdbyk opened #1254 "Introduction of "number_is_zero" in C wrappers?"
Hi,

I am asking, whether it would be a good idea to replace the following two functions

[code]
by just the following one?
[code]

This would allow to check all numbers with the same function for being zero or not. Do you think
this is a good idea, or are there any drawbacks?

Thank you,

Dirk

[2017-05-09 16:25] isuruf commented on #1254
I think that's a good idea. Would you be able to send a PR?

[2017-05-09 16:46] rdbyk commented on #1254
I will happily try to do so, give me a couple of days ... I am total git(hub) newbie!

[2017-05-10 05:11] isuruf commented on #1254
Great. Let me know if you need any help with git and github.

[2017-05-11 07:25] isuruf opened #1257 "Change printing of nan and infs in julia printer to match julia syntax"
JuliaStrPrinter should match Julia syntax as much as possible.

[2017-05-11 18:13] #1257 closed

[2017-05-12 05:34] isuruf opened #1259 "Don't require LLVM in SymEngineConfig.cmake if linked statically"

[2017-05-13 10:34] srajangarg commented on #1182
`b->get_poly()` is not supposed to be used externally. It returns the internal container, in this case `piranaha::polynomial`.  Also, a user must not have to use Piranha specific or FLINT specific `integrate` methods. We should add in a `integrate` virtual method in the base class, and define the implementations as per the type (SymEngine/Piranha/FLINT) of the polynomial.

@certik When using a Sym

[2017-05-14 06:22] prateeksingh0001 commented on #1182
@srajangarg currently do we have an `integrate()` method implemented in SymEngine ?

[2017-05-15 09:38] prateeksingh0001 commented on #1182
@srajangarg thanks for reviewing my method to perform the integration :) . If you haven't started working on the `integrate()` method, I would like to work on this. I will start with your suggestion of creating the method `SymEngine::integrate()`.

[2017-05-15 09:55] srajangarg commented on #1182
Sure go ahead. Use a visitor pattern like used in differentiation.

[2017-05-15 10:00] prateeksingh0001 commented on #1182
Sure, I'll do it.

[2017-05-15 12:39] rdbyk opened #1265 "Differing inline declarations of virtual member function is_complex"
I have noticed that sometimes `is_complex` is declared `inline` and sometimes not.

Using `grep "virtual bool is_complex" *.h` reveals:

[code]

I assume it might be a rather cosmetic issue, but I am curious to ask: Why is it not declared `inline` everywhere?

[2017-05-15 13:08] isuruf commented on #1265
I don't think it really matters since member functions are implicitly `inline`. I would rather it removed everywhere.

[2017-05-15 13:14] ShikharJ commented on #1265
@rdbyk Would you like to work on this? Else I'd like to make the changes.

[2017-05-15 13:20] rdbyk commented on #1265
@ShikharJ Just go ahead, that's fine with me. It might be the opportunity to look at `is_zero`, `is_positive`, `is_negative` and `is_exact` as well. @isuruf What do you think?

[2017-05-16 08:20] jppelteret opened #1268 "Fix -pedantic warnings"
If one turns on more compiler warnings via
[code]
then there are a host of extra warnings that appear during compilation (master @ d5f215d5).

See the build [output.log](https://github.com/symengine/symengine/files/1003645/output.log.txt).

[2017-05-16 14:40] #1268 closed

[2017-05-19 05:13] #1254 closed

[2017-05-30 15:39] isuruf opened #1278 "Improve Relationals support"
- [ ] subs
- [ ] logical_not
- [ ] CCodePrinter
- [ ] LambdaDoubleVisitor
- [ ] LLVMDoubleVisitor

[2017-05-30 16:33] ShikharJ commented on #1087
Fixed via #1276.

[2017-05-31 03:14] #1087 closed

[2017-06-03 16:16] isuruf opened #1283 "Add support for Dummy."
SymPy has Dummy symbols and is used in many places.

[2017-06-06 04:01] #1283 closed

[2017-06-07 19:56] certik opened #1289 "Test using PGI compilers on Travis"
Here is how to do that:

https://github.com/nemequ/pgi-travis

by using that script it should install the [PGI Community Edition](http://www.pgroup.com/products/community.htm), which should be free to use.

[2017-06-25 07:08] isuruf opened #1300 "LLVM on Windows 32 bit"
This fails at runtime with,

    LLVM ERROR: Program used external function '_log' which could not be resolved!

This works fine on Windows 64 bit though.

[2017-06-28 11:14] ShikharJ opened #1303 "Relationals passed to functions should throw"
`sin(x < y)` should ideally raise an error as the value of a `Relational` cannot be obtained. One needs to check with `SymPy`'s  output for other functions as well. Refer #1298.

[2017-06-28 12:29] isuruf commented on #1303
I don't think this is necessary. SymPy throws unintentionally, not because it checks for the value explicitly.
This would lead to code bloat.

[2017-06-28 12:59] ShikharJ commented on #1303
@srajangarg What would be your take on this?

[2017-06-28 14:24] srajangarg commented on #1303
Let's stick to what @isuruf said. We can add it whenever it's need is required.

[2017-06-28 14:37] #1303 closed

[2017-07-08 13:48] isuruf opened #1306 "Problems with Lambdify and heterogeneous output"
_From @bjodah on July 5, 2017 13:1_

Using a conda environment with `python-symengine == 0.3` from `symengine` channel:
[code]
came up when looking into sympy/sympy#5642
I am investigating this now.

_Copied from original issue: symengine/symengine.py#170_

[2017-07-08 13:48] isuruf commented on #1306
_From @bjodah on July 5, 2017 16:6_

I'm getting segmentation fault running nosetests.

Using CC=gcc-4.9 and CXX=g++-4.9 and building symengine @ d575a3a
[code]
then running make && make install, now turning to symengine.py@master:
[code]

running tests:
[code]

My guess is that this might be due to llvm-4.0 being linked in.

How do I change LLVM_INCLUDE_DIRS? (I have llvm-3.7-dev installed but pa

[2017-07-08 13:48] isuruf commented on #1306
You can try `-DLLVM_DIR=/usr/lib/llvm-3.7/`

[2017-07-08 13:48] isuruf commented on #1306
_From @bjodah on July 5, 2017 16:12_

Running:
[code]
still yields:
[code]

[2017-07-08 13:48] isuruf commented on #1306
Ah, right. LLVMConfig.cmake is not there for LLVM<3.8 and symengine requires LLVM>=3.8

[2017-07-08 13:48] isuruf commented on #1306
_From @bjodah on July 5, 2017 16:20_

Oh, ok but is 4.0 ok? (or should I target 3.8?)

[2017-07-08 13:48] isuruf commented on #1306
3.8, 3.9 and 4.0 are supported. I'll try to reproduce.

[2017-07-08 13:48] isuruf commented on #1306
_From @bjodah on July 5, 2017 16:24_

Maybe the cmake script could be made to output LLVM_LIBRARY in the configuration summary? (in analogy to GMP_LIBRARIES, MPFR_LIBRARIES, etc)

I'll try to reproduce this in a Dockerimage.

[2017-07-08 13:48] isuruf commented on #1306
_From @bjodah on July 7, 2017 13:6_

I got the same error on another machine (also Ubuntu 16.04 and using llvm's apt repository).
I changed to use my [Dockerimage](https://github.com/bjodah/gsoc2017-bjodah/tree/master/se_llvm) (using llvmdev from conda-forge).

[2017-07-09 04:36] isuruf commented on #1306
I've tried llvm-4.0 from llvm's apt repo on Ubuntu 16.04, but can't reproduce

[2017-07-09 04:37] isuruf commented on #1306
Do you have a llvm installation at `/home/bjorn/anaconda3/envs/syme/` ?

[2017-07-09 04:48] bjodah commented on #1306
No, but there's lib/libsymengine.0.3.0.so

On Jul 9, 2017 06:37, "Isuru Fernando" <notifications@github.com> wrote:

Do you have a llvm installation at /home/bjorn/anaconda3/envs/syme/ ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/symengine/symengine/issues/1306#issuecomment-313898126>,
or mute the thread
<https://github

[2017-07-09 04:49] isuruf commented on #1306
That might be the reason. Can you see whether that library is linked in `symengine_wrapper.cpython-36m-x86_64-linux-gnu.so` by running `ldd`?

[2017-07-09 04:56] bjodah commented on #1306
I thought so too, but no: it's linked against
~/.local/lib/libsymengine.so.0.3

On Jul 9, 2017 06:49, "Isuru Fernando" <notifications@github.com> wrote:

That might be the reason. Can you see whether that library is linked in
symengine_wrapper.cpython-36m-x86_64-linux-gnu.so by running ldd?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https

[2017-07-09 04:57] isuruf commented on #1306
To get more info, can you try `cmake -DWITH_BFD=yes -DCMAKE_BUILD_TYPE=Debug` to build symengine and rebuild symengine.py?

[2017-07-09 05:36] bjodah commented on #1306
sure, my laptop was too slow to finish compiling (getting on a plane), will
recompile when I land.

On Jul 9, 2017 06:57, "Isuru Fernando" <notifications@github.com> wrote:

[2017-07-11 16:10] bjodah commented on #1306
Recompiled using a Debug build wand WITH_BDF=yes.
Running ctest has a failure:
[code]
Running `ldd` on the binary does not list llvm. This time I gave `-DLLVM_DIR=/usr/lib/llvm-4.0` so the fact that cmake finds: `LLVM_INCLUDE_DIRS: /usr/lib/llvm-4.0/include` is in order.

[2017-07-11 16:12] bjodah commented on #1306
Running:
[code]
gives me:
[code]

[2017-07-11 16:28] isuruf commented on #1306
I think the problem is with using `g++-4.9`. `llvm-4.0` for Ubuntu 16.04 was probably built with gcc 5.4.0 and mixing gcc-4.x and gcc-5.x leads to mysterious errors.

[2017-07-11 16:41] bjodah commented on #1306
Sounds reasonable. You mentioned that there was a way to use gcc-5.4 (setting some CXX_ABI flag?). How do I specify that? (exporting a variable before running cmake, or passing a parameter to cmake?)

[2017-07-11 16:44] isuruf commented on #1306
Since you are building symengine and symengine.py both, just unset `CC` and `CXX`, remove CMakeCache.txt and start over. That should work.
`export CPPFLAGS=_GLIBCXX_USE_CXX11_ABI=0` needs to be set if you want to use only libraries compiled with gcc 4.x, but since LLVM was compiled with gcc 5.x, that's not an option.

[2017-07-12 03:21] isuruf opened #1307 "Use dist:trusty in travis-ci"
Travis-ci will move to trusty in a week. See this announcement, https://blog.travis-ci.com/2017-07-11-trusty-as-default-linux-is-coming

[2017-07-12 04:21] ShikharJ commented on #1307
Doesn't this require the use of `dist: trusty` tag? `image: trusty` in `travis.yml` doesn't seem to change the distribution to `trusty` from `precise`.

[2017-07-12 04:23] isuruf commented on #1307
Yes, corrected it.

[2017-07-18 11:06] #1307 closed

[2017-07-19 16:49] isuruf opened #1311 "Allow other implementations for arbitrary real precision floats"
We have `integer_class` that has several implementations. Similarly we need to have `real_class` and `complex_class` to allow for arb classes.

[2017-07-19 16:50] isuruf opened #1312 "Improve printing of float infinities"
RealDouble and RealMPFR printing of infinities is weird.

[2017-07-26 14:46] aneesh2312 commented on #1312
I would like to try to improve it.

[2017-08-04 20:10] certik opened #1318 "Run automatic benchmarks on each commit (and PRs)"
We have some benchmarks (see also #364), but I run them by hand.

We should automate this as much as possible. We should run benchmarks on the master commits automatically, for example using the [Airspeed Velocity](https://github.com/spacetelescope/asv) project.

* [ ] Create a new repository for benchmarks
* [ ] In there, provide scripts to build a given commit, execute benchmarks and report them

[2017-08-06 19:56] asmeurer commented on #1318
There may be a small performance hit in absolute terms from running in a Docker container vs. the raw machine.

But remember that a Docker container is just a description of the OS and everything that is installed on it. It doesn't represent a reproduction of the machine itself. So if you run the benchmarks in a Docker container and I rerun the same benchmarks in the exact same Docker container, w

[2017-08-13 01:47] toddrme2178 opened #1321 "Respect cmake's CMAKE_INSTALL_LIBDIR"
cmake provides a `CMAKE_INSTALL_LIBDIR` variable that lets you define where libraries are installed. From what I can see, symengine doesn't support it. Instead, on non-windows platforms it hard-codes libraries as being installed in `${CMAKE_INSTALL_PREFIX}/lib`. This is usually not the correct place on 64bit Linux systems. It would make installation and packaging much easier if there was some vari

[2017-08-17 15:07] isuruf commented on #1321
If you send a PR I'll merge it. I'll add this for the next release milestone

[2017-08-22 16:10] toddrme2178 commented on #1321
I have been looking into it, but haven't been able to figure out how to get it working yet.

[2017-08-22 23:06] #1321 closed

[2017-08-31 18:22] certik commented on #1321
@toddrme2178 thanks for reporting it, thanks @isuruf for fixing it.

[2017-08-31 18:39] certik commented on #1318
@asmeurer thanks for the tip, good point.

There is a thread about this on the SymPy mailinglist, in particular this post shows that there is no difference between running in Docker vs. native (on linux):

https://groups.google.com/d/msg/symengine/syLFQxMqxgI/shfkhxVtBwAJ

So we should just use Docker.

Regarding @asmeurer's point about different machines --- yes, different platforms produce diffe

[2017-08-31 21:04] certik commented on #1318
There is also this project: https://github.com/hpc/charliecloud, which can run Docker containers, but does not require root, and the authors claim that they did not observe any performance penalty, whether CPU, memory, network, or disk. So worth investigating.

[2017-08-31 21:38] asmeurer commented on #1318
The point is you can't compare things across machines. So if you get a different machine, you have to re-compute any benchmark you want to compare to (which could be time consuming, e.g., to recompute benchmarks for thousands of commits).

[2017-08-31 22:07] certik commented on #1318
@asmeurer yes, you can't directly compare benchmarks.

[2017-09-02 14:38] certik opened #1324 "Implement apart()"
Here is an example in SymPy, that is very slow compared to Mathematica: https://github.com/sympy/sympy/issues/13022, our goal should be to match or beat Mathematica in speed.

[2017-09-15 12:38] isuruf opened #1327 "as_numer_denom cancel factors bug"
`as_numer_denom(exp(-z1)/(1 + exp(-z1))^2)` gives `(exp(2*z1),exp(z1)*(1 + exp(z1))^2)`, but the numerator and denominator should be cancelled with `exp(z1)`

[2017-09-18 17:31] scarrazza opened #1328 "Fast numerical evaluation"
I have a question concerning the numerical evaluation of symbolic expressions in SymEngine.
If I understand correctly the `n()` method is the only available method to obtain the numerical output of an expression.

I would like to know if there is some faster approach already in the code or if you are planning to implement a fast method similar to `autowrap` in Sympy directly in SymEngine.

[2017-09-18 18:11] isuruf commented on #1328
Have a look at `lambda_double.h` and `llvm_double.h`. `LLVMDoubleVisitor` should be similar to `autowrap`.

If you are using python have a look at `lambdify`

[2017-09-20 10:53] scarrazza commented on #1328
Thanks for the reply.

If I understand correctly the symengine.Lambdify function with backend='llvm' uses the `LLVMDoubleVisitor`. Do you provide some benchmark code in pure C++ similar to the python https://github.com/symengine/symengine.py/blob/master/benchmarks/Lambdify.py ?

Do you have some notes/docs explaining both approaches?

Thank you.

[2017-09-20 15:06] isuruf commented on #1328
You can have a look at this, https://github.com/symengine/symengine/blob/master/symengine/tests/eval/test_lambda_double.cpp#L188

I'll try to explain here. `Lambda` takes more time than `LLVM` for evaluation, but has lower setup cost. Overall, LLVM is faster only if you do more than a specific number of evaluations which depends on your expression. Also LLVM can do common subexpression elimination

[2017-09-20 16:40] scarrazza commented on #1328
Thank you very much for the explanation.

[2017-09-25 16:50] certik opened #1330 "Simplify exp(-I*pi) to -1"
Currently SymEngine does not simplify such expressions, but I think it should:
[code]
Since `sin` and `cos` already simplify such expressions, and you can write `exp(x)=cos(-I*x)+I*sin(-I*x)`:
[code]

[2017-09-27 06:17] ylemkimon opened #1331 "SymPy test failures: AttributeError: 'list' object has no attribute 'atoms'"
Following tests fail on SymPy with SymEngine:
[code]
since version
[code]

[2017-09-27 06:29] isuruf commented on #1331
This issue was moved to symengine/symengine.py#190

[2017-09-27 06:29] #1331 closed

[2017-09-28 15:44] certik opened #1334 "Implement assumptions handling"
For this, we should implement the "new assumptions" style as is done in SymPy. We should write down the details first and consult with other SymPy devs, to ensure that we don't run into some dead ends, or some problems later.

[2017-09-28 18:02] ShikharJ commented on #1328
@scarrazza Would you mind if I close this issue, if your concerns have been resolved?

[2017-09-28 18:21] scarrazza commented on #1328
Sure, thanks.On Sep 28, 2017 20:02, Shikhar Jaiswal <notifications@github.com> wrote:@scarrazza Would you mind if I close this issue, if your concerns have been resolved?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-09-28 18:22] #1328 closed

[2017-10-03 16:20] isuruf opened #1336 "Implement binomial and factorial symbolic functions"

[2017-10-04 19:33] xwan242 opened #1338 "symengine.cse functionality unexpected for long expressions and for using certain symbols"
Apologies if this is the wrong place to post this.

Unless I'm using the function incorrectly, the following output suggests that symengine.cse does not generate the correct replacement expressions for the suggested symbols when used on longer expressions:

[code]
For reference, the SymPy equivalent gives the correct replacements:
[code]
In addition, replacing the symbols starting with 'z' with 'y

[2017-10-04 23:03] isuruf commented on #1338
This is the correct place to post it. Thanks for reporting this bug.
I was able to reduce your test case down to `e1 = 2*a*b + 2*b*c + 2*c*a`. I'll have a look in the code as soon as possible.

[2017-10-05 02:46] #1338 closed

[2017-10-05 08:59] xwan242 commented on #1338
Thanks for looking into this, worked perfectly.

[2017-10-14 16:35] isuruf opened #1340 "Equality checks not consistent with sympy"
_From @cdiener on October 12, 2017 20:49_

The following was a bit surprising to me:

[code]

In sympy `Out[100]` would be True.

_Copied from original issue: symengine/symengine.py#200_

[2017-10-14 16:43] isuruf commented on #1340
In symengine `sin(0)` returns `0` and `sin(0.0)` returns `0.0`. I think `x + y + 0.0` not returning `x + y` was done to make sure the return types are consistent. But this deviates too much from SymPy, so I think it's better to return `x+y` for `x+y+0.0`

[2017-10-18 13:34] Wrzlprmft opened #1341 "Implement functions in C Code printer"
It would be really great if the C-code printer supported functions, i.e., the following would work (in the Python wrapper):

[code]

As far as I can tell, this is the only (major) missing piece missing for my modules [JiTCODE](https://github.com/neurophysik/jitcode), [JiTCDDE](https://github.com/neurophysik/jitcdde), and [JiTCSDE](https://github.com/neurophysik/jitcdde) to switch from SymPy to Sym

[2017-10-18 15:23] isuruf commented on #1341
I think it's only a matter of deleting the lines https://github.com/symengine/symengine/blob/master/symengine/codegen.h#L167-L170
Can you try that and if it works send a PR with a test?

[2017-10-18 16:32] Wrzlprmft commented on #1341
I haven’t tested it, but I would guess that this would cause functions to be ignored instead of rendered, i.e., you would get something like `ccode(f(x))=="x"`.

[2017-10-18 17:23] isuruf commented on #1341
When that method is deleted, it should fallback to the method in `StrPrinter` which the `CCodePrinter` inherits from and `f(x**2)` would be printed as `f(pow(x, 2))`

[2017-10-18 17:37] Wrzlprmft commented on #1341
Ah, great. I will test this in the next few days.

[2017-10-19 12:52] ShikharJ commented on #1340
@isuruf Should this be checked in `Add::is_canonical`? I'd like to work on this as a part of `Hacktoberfest`.

[2017-10-19 14:19] ShikharJ commented on #1341
@Wrzlprmft I created a PR [here](https://github.com/symengine/symengine/pull/1343). Could you confirm it's what you require?

[2017-10-19 15:51] Wrzlprmft commented on #1341
@ShikharJ: Yes, thanks. I actually tested removing those lines earlier and it does what I want. I just didn’t have the time to write a test and pull request yet.

[2017-10-19 17:59] ShikharJ opened #1344 "Update Ruby for Homebrew"
The last two `OSX` jobs are currently failing with the following error:
[code]
@isuruf Can you point out how can this be done? I couldn't find the code for installing `Ruby` in `travis` .

[2017-10-19 18:04] isuruf commented on #1344
You just need to do `brew update` before using brew install.

[2017-10-19 20:13] #1341 closed

[2017-10-20 02:39] #1344 closed

[2017-10-21 16:05] ShikharJ opened #1346 "Move to a higher clang-format version?"
I recently installed the new `Ubuntu 17.10`. On this system, `clang-format-3.7` is unavailable (the default being `clang-format-4.0.1`).

[2017-10-22 00:54] cdiener commented on #1340
Thanks so much for the quick fix!

[2017-10-22 02:03] isuruf commented on #1340
`1.0 * x * y != x * y` . These checks needs to be fixed in `Mul` as well.

[2017-10-22 08:32] ShikharJ commented on #1340
@isuruf In `SymPy`:
[code]
In `SymEngine`:
[code]

[2017-10-22 09:18] ShikharJ commented on #1346
@isuruf @certik Thoughts?

[2017-10-22 10:36] Wrzlprmft opened #1347 "If a sum is subtracted, merge it into the resulting sum"
It seems that subtracting `expr` is realised as and addition of `Mul(-1,expr)`, which in turn does not means that if the subtrahend is a sum, it will not be merged in the sum resulting from the subtractions. This yields an overcomplication of certain terms that do not get simplified automatically. For example `x - (1 + x)` stays like this and does not get automatically reduced to `-1`.

[2017-10-22 13:56] certik commented on #1346
That is fine. Hopefully we don't need to modify our source code. Let's send a PR and see what changes we need to make.

[2017-10-22 15:31] isuruf commented on #1347
Duplicate of https://github.com/symengine/symengine/issues/207

[2017-10-22 15:31] #1347 closed

[2017-10-22 15:42] isuruf commented on #1340
`x + y + 2.0 == x + y + 2` is False too in symengine, but `x + y + 0.0 == x + y + 0` is True with the new PR.

[2017-10-22 16:42] isuruf commented on #1346
`conda-forge` has 3.8 in `clangdev` package.

[2017-10-25 11:14] raphaelquast opened #1350 "bug in cse when applying it to a list of long expressions?"
@isuruf
looking at #1338  it seems that this issue popped up already a while ago, but
since i am currently using the latest dev-version  (0.3.0.237.g398a3f3) i think
this fix is already implemented in my version.

however, while trying to implement the new symengine-cse functionality
(whose existence i greatly appreciate) i unfortunately found that there seems to be
some problems remaining when ap

[2017-10-26 03:27] isuruf commented on #1350
`0.3.0.237.g398a3f3` is 23 days old and the PR was merged 21 days ago.

[2017-10-26 09:22] raphaelquast commented on #1350
thanks for the quick reply... that is very good to hear!
i updated symengine yesterday via ` conda install -c symengine/label/dev symengine `
what would be the correct way to get a version that includes #1338?

[2017-10-27 22:16] isuruf commented on #1350
@raphaelquast, send a PR like https://github.com/symengine/python-symengine-feedstock/pull/3/files

[2017-10-28 15:35] Marlin-Na opened #1351 "Parse "^" causes segmentation fault?"
It seems that using  `basic_parse` to parse "3 ^ 2" would cause segmentation fault, while "3 ** 2" works as expected.

For example using the following code:

[code]

Version of SymEngine is 0.3.0, I am not sure whether it is fixed in newer version.

[2017-10-28 17:00] ShikharJ commented on #1351
@Marlin-Na We recently updated the parser to provide the usage for `^` as `logical_xor` which expects `SymEngine::Boolean` type objects. As such, I think the segfault is occurring because the parser is trying to `rcp_static_cast<const Boolean>()` the two arguments. Additionally, you can look [here](https://github.com/symengine/symengine/pull/1298).

[2017-10-28 17:05] isuruf commented on #1351
@ShikharJ, I think we shouldn't use `^` for xor by default. Even sympy converts `^` to power by default and there is a `convert_xor` parameter for switching.

[2017-10-28 17:28] ShikharJ commented on #1351
@isuruf I am getting this on `SymPy 1.1.1`:
[code]

[2017-10-28 17:29] isuruf commented on #1351
@ShikharJ, I was talking about sympy's parser.
[code]

[2017-10-28 18:45] isuruf commented on #1346
Ubuntu 17.10 has https://launchpad.net/ubuntu/artful/+package/clang-format-3.7

[2017-10-29 09:15] ShikharJ commented on #1346
Closed vis #1348

[2017-10-29 09:15] #1346 closed

[2017-10-30 19:58] Marlin-Na opened #1353 "Use exception if `integer_set_str` can not parse the string?"
It seems that `integer_set_str` will parse a string, say "abc", to Integer zero, without exception. I think it may be better to generate an exception if the string can not be parsed.

For example using the following code with the SymEngine version 0.3.0:

[code]

[2017-11-01 11:50] ShikharJ commented on #1351
Closed via #1352.

[2017-11-01 11:50] #1351 closed

[2017-11-02 20:19] Wrzlprmft opened #1354 "Matrix inversion occasionally produces zoos and nans"
I go straight to the minimal example (in the Python backend):

[code]

Swapping the `0` to any other position works, which suggests that this is an issue with pivoting or similar.

[2017-11-04 15:23] Wrzlprmft opened #1356 "Cannot replace or substitute functions"
It is not possible to substitute or replace one function with another:

[code]

[2017-11-04 15:25] isuruf commented on #1356
Yes, this is not possible at the moment. As a temporary workaround, you can use `expr.applyfunc` to check whether a node is a FunctionSymbol and the name is `f` and then replace it.

[2017-11-04 15:31] Wrzlprmft commented on #1356
@isuruf I fail to find that function. There seems to be a thusly named function in SymPy, but it does something else entirely.

[2017-11-04 16:04] Wrzlprmft commented on #1356
I wrote a workaround (in Python):

[code]

[2017-11-07 09:27] Wrzlprmft opened #1357 "C code printer doesn’t handle rationals properly"
[code]

The latter will be handled as an integer division in C and thus evaluates to 0. The analogous SymPy function correctly returns `'1.0/2.0'`.

[2017-11-07 21:40] #1357 closed

[2017-11-09 04:20] isuruf commented on #1350
@raphaelquast, can you check whether this is fixed or not?

[2017-11-09 09:23] raphaelquast commented on #1350
@iusuruf i did some tests and i can confirm that the behavior of Lambdify and cse is now as expected.
Thank you very much for this!

However, the behaviour of LambdifyCSE is still not as expected as can also be seen by running the code in my last comment on symengine/symengine.py#174

There might be an error concerning the newly introduced "order"-parameter within `LambdifyCSE`
wich can directly b

[2017-11-10 21:08] tbabej opened #1359 "Partial substitutions of Mul objects do not work for mixed-variable terms"
Consider the following example, which works as expected:

[code]
If we try to substitute `x*y` instead of `y*y`, which is still contained in the first term, the substitution does not happen:

[code]
This only happens for non-exact matches, exact matches do work:

[code]

[2017-11-10 21:34] isuruf commented on #1359
Yes, `subs` is kind of dumb that way. What happens is it will check whether the expression is equal to `2*x*y**2`, then `x*y**2` then `x` then `y**2`.
This should be fixed though. Original behaviour can stay in `xreplace`, but `subs` needs to be fixed.

[2017-11-10 21:36] tbabej commented on #1359
@isuruf Can you point me to the place in the code base where this logic is implemented? I can contribute a fix.

[2017-11-10 21:40] isuruf commented on #1359
Thanks. It's implemented in `XReplaceVisitor` at https://github.com/symengine/symengine/blob/master/symengine/subs.h#L74-L108

This method shouldn't be changed, but overriden in the `SubsVisitor` class which is here, https://github.com/symengine/symengine/blob/master/symengine/subs.h#L270

[2017-11-12 04:37] isuruf opened #1361 "Inconsistent parsing of exponents"
_From @xwan242 on November 5, 2017 16:14_

Inserting a + or - in front of an exponent causes all multiplicative terms after the exponent to be grouped together, instead of the behaviour in standard Python and SymPy.

E.g.
[code]

_Copied from original issue: symengine/symengine.py#207_

[2017-11-12 04:37] isuruf commented on #1361
cc @srajangarg

[2017-11-12 05:48] srajangarg commented on #1361
What does `sympify` call internally? Just `parse`?

[2017-11-12 05:49] isuruf commented on #1361
Yes, just parse

[2017-11-17 19:30] isuruf commented on #1361
Fixed in #1362. Thanks @srajangarg

[2017-11-17 19:30] #1361 closed

[2017-11-18 03:35] isuruf opened #1364 "Add Xor to printer"
cc @ranjithkumar007

[2017-11-18 04:13] isuruf commented on #1219
Done in https://github.com/symengine/symengine/pull/1323

[2017-11-18 04:13] #1219 closed

[2017-11-18 04:14] isuruf commented on #1232
ccode is implemented now

[2017-11-18 04:14] #1232 closed

[2017-11-18 04:15] isuruf commented on #1159
This is tested now

[2017-11-18 04:15] #1159 closed

[2017-11-18 04:16] isuruf commented on #1062
@dladd, are you still interested in this?

[2017-11-18 04:16] isuruf commented on #1038
This is implemented now

[2017-11-18 04:16] #1038 closed

[2017-11-18 04:17] isuruf commented on #832
This is implemented now

[2017-11-18 04:17] #832 closed

[2017-11-18 04:18] isuruf commented on #416
Yes, this is about symengine.py

[2017-11-18 04:18] #416 closed

[2017-11-18 04:20] isuruf commented on #162
This is implemented now

[2017-11-18 04:20] #162 closed

[2017-11-18 04:20] isuruf commented on #160
SymEngine is in PyPI with wheels now

[2017-11-18 04:20] #160 closed

[2017-11-18 04:23] isuruf commented on #635
Any updates on this?

[2017-11-18 19:31] nickerso commented on #1062
Hi @isuruf, libCellML is still interested in this. Due to limited resources, part of the wider CellML community is going down the python and SymPy route (https://github.com/ModellingWebLab/cellmlmanip), but we definitely are keen to get this into our C++ library at some point.

[2017-11-18 19:33] nickerso commented on #1062
should add that this is the issue tracking MathML in that project: ModellingWebLab/cellmlmanip#7

[2017-11-21 17:52] jppelteret opened #1365 "Potential bug in lambda double CSE symbol substitution"
The [comment made here](https://github.com/symengine/symengine/blob/master/symengine/lambda_double.h#L70) and clearing of the `cse_intermediate_fns_map` does not seem to agree with the later attempted [use of this map here](https://github.com/symengine/symengine/blob/master/symengine/lambda_double.h#L110). I don't have a test case, but this looks like it may lead to a case that an eliminated subex

[2017-11-22 16:42] jppelteret opened #1366 "SymEngine ncorrectly assume that all classes derived NumberWrapper are of the same type"
Here's a test that demonstrates this behaviour:

[code]

Expected output:
[code]

Actual output:
[code]

[2017-11-22 20:08] isuruf commented on #1365
It's not later. Later use would be in `call` and `cse_intermediate_fns_map` is not used anymore. All the `bvisit` methods are called here, https://github.com/symengine/symengine/blob/master/symengine/lambda_double.h#L68 which is before the map is cleared.

[2017-11-22 20:08] #1365 closed

[2017-11-22 20:11] jppelteret commented on #1365
Right, that makes sense. I didn't see that flow path at the time, but its quite clear now. Thanks a lot for the explanation!

[2017-11-24 13:12] srajangarg commented on #1327
I'll look into this within this week.

[2017-11-27 18:46] abinashmeher999 commented on #635
@isuruf Sadly I couldn't find anything about who owns the copyright since then. I remember sending a message to the owner of the video from where I got the screenshot but didn't get any reply. I will share whatever svg files I have soon.

It would be a great help if someone can guide on what to do about the copyright since it is difficult to say for certain who owns it.

[2017-11-27 19:06] certik commented on #635
I think the mechanism is simply called a Gear Cube: https://en.wikipedia.org/wiki/Gear_Cube, besides the YT video (https://www.youtube.com/watch?v=jdBVXxF9_U8) there is also https://www.thingiverse.com/search/page:1?q=CUBE+GEAR.

If we create our own 3D model, then I think we can probably use it. Does anyone know how to create a 3D model of this mechanism? If we use somebody's else 3D model, then

[2017-11-27 19:33] abinashmeher999 commented on #635
Thanks for the info.

I have messaged the author again(on YT this time, don't remember how I messaged them last time). If there's no reply I guess we will have to create our own or find some other model.

[2017-12-05 05:49] abinashmeher999 commented on #635
I was able to contact the creator on GrabCAD. This is what they replied.

I am guessing we shouldn't have any problems since we are only using a still from one of their animations. Since we will most probably be licensing this under Creative Commons I have asked the creator if they would like to have their name included.

[2017-12-12 17:45] isuruf commented on #1312
To check for infinity, `std::isinf` can be used, but compiler will optimize that to false when `-ffast-math` is given because `-ffast-math` implies no infinities or nans. @certik, do we really need `-ffast-math`? We don't have many mathematical operations of hardware ints and floats.

[2017-12-12 17:55] certik commented on #1312
We should check our benchmarks. If there is not slowdown without `-ffast-math`, we don't need to use it. In general, I prefer to code in a way so that `-ffast-math` can be used (even if only optionally). So perhaps we can put the infinities handling under some ifdef, that can be turned off by cmake when `-ffast-math` is used, but kept on otherwise.

[2017-12-12 18:13] isuruf commented on #1366
Looking at the doc string, `is_a` should only be used for leaf symengine classes and should not be used by subtypes or supertypes. For eg: `is_a<Function>(*sin(x))` doesn't work.

[2017-12-13 15:55] Midnighter opened #1372 "Pretty or latex printing"
I like to use the sympy feature `sympy.init_printing(use_latex=True)` in my Jupyter notebooks and I was wondering if there is anyway to achieve the same behavior with symengine?

[2017-12-13 16:45] certik commented on #1372
@Midnighter good point. This should be implemented by the Python wrappers (https://github.com/symengine/symengine.py). Alternatively, we are also trying to use SymEngine in SymPy itself, then sympy should take care of it. But the latex printing would be useful to have in symengine.py even without SymPy.

[2017-12-17 16:12] #1364 closed

[2017-12-17 16:12] #1259 closed

[2017-12-17 16:12] #1354 closed

[2017-12-17 16:19] #1327 closed

[2017-12-18 19:10] Wrzlprmft opened #1374 "Handling of one raised to the power of infinity (1**oo) inconsistent with SymPy"
[code]

The same applies to `1**zoo` and `1*-oo`.

[2018-01-14 07:02] eeshan9815 commented on #1336
Hey, I am new to SymEngine. I would like to contribute to this issue, if no one is working on it. @ShikharJ @isuruf

[2018-01-14 07:54] ShikharJ commented on #1336
@eeshan9815 I'll be trying to finish the PR today itself. Though, if I'm unable to find the time, I'll notify you and maybe you can pickup the commits from there and finish it off then?

[2018-01-17 12:06] eeshan9815 commented on #1359
@tbabej @isuruf Hey, I am new to symengine. If no one is working on it, I would like to start contributing by fixing this issue.

[2018-01-17 13:26] ShikharJ commented on #1359
Go for it @eeshan9815

[2018-01-17 14:51] tbabej commented on #1359
Indeed, we just settled for a python-based dirty quick workaround in our
code. It would be great to support this natively.

On Wed, Jan 17, 2018 at 8:26 AM, Shikhar Jaiswal <notifications@github.com>
wrote:

[2018-01-23 17:57] npochhi commented on #1374
Hi! I'd like to work on this! If I'm understanding this issue correctly, I only have to add a condition for checking the value of base to 1 and exponent to Inf (using `eq` function) and returning the required result in the Pow.cpp file. Is this correct?

[2018-01-24 06:21] ShikharJ commented on #1374
@npochhi You'll have to improve the check for this in `pow.cpp`.

[2018-01-26 19:23] certik commented on #1366
@isuruf how should this be fixed in your opinion?

[2018-01-26 19:27] isuruf commented on #1366
Either we do nothing or we explicitly disable classes defined outside of SymEngine in `is_a`. That way, classes defined outside can define their own `is_a` implementation.

[2018-01-27 09:21] jppelteret commented on #1366
I think that's fair enough. I started using this in an outside project pre-documentation, so I was simply surprised that it did not work "as expected". I'm happy to adjust accordingly.

[2018-01-28 10:26] bjodah opened #1378 "Second argument to parse"
I saw that parse since #1352 takes a second argument, in the cwrapper:
[code]
My spontaneous thought was that perhaps a "settings struct" (or integer used as a bitset) would be better since it would allow for more options to be added in the feature without adding a new functions for each (`basic_parse3`, `basic_parse4` etc.). I am opening this issue now since it looks like this API hasn't been rel

[2018-01-28 10:56] ShikharJ commented on #1378
Looks like a good idea to me, provided we explain it well.

[2018-01-28 22:13] bjodah opened #1380 "ccode should print exp(x)"
Currently `ccode` emits `pow(M_E, x)` which, even though correct, is unconventional.
Ideally it would output `exp(x)`.

[2018-01-29 01:47] isuruf opened #1381 "Add Abs to as_real_imag"

[2018-01-30 05:00] #1374 closed

[2018-01-30 10:31] eeshan9815 commented on #1359
@isuruf @ShikharJ @tbabej I think I found another issue with `subs`:
While this works as expected:
[code]
This does not:
[code]
instead of `2*z`
Can someone explain why, and how to fix this issue as well? I have had some progress with the original issue.

[2018-01-31 18:52] eeshan9815 commented on #1380
It has to be implemented only for C89CodePrinter, C99CodePrinter and JSCodePrinter, right?

[2018-02-01 19:33] isuruf opened #1385 "Support LLVM 5"

[2018-02-01 20:47] isuruf opened #1386 "Subs should check if a subexpression was visited before"
This can be an option as it can be a bit slower for small expression

[2018-02-01 21:52] #1381 closed

[2018-02-02 19:23] isuruf opened #1387 "Implement free_symbols for matrices"

[2018-02-02 21:25] npochhi commented on #1387
We would just have to run a loop over the Matrix elements and use free_symbols() to free the constituent Basic elements, right?

[2018-02-02 21:26] isuruf commented on #1387
Yes. You can just use `FreeSymbolsVisitor` and run a loop over the matrix elements and apply each element to the visitor

[2018-02-03 23:56] #1387 closed

[2018-02-04 23:14] #1385 closed

[2018-02-05 19:07] npochhi commented on #1386
Should we use `unordered_set` to store the visited subexpressions. If so, should I typedef it `dict.h`? Also, should I apply this is present check to entire `Visitor` class or just `FreeSymbolsVisitor`?

[2018-02-05 19:35] isuruf commented on #1386
Yes

Yes

just FreeSymbolsVisitor

[2018-02-06 22:35] bjodah opened #1394 "Serializing SymEngine objects"
There are quite a few applications where serialization of SymEngine objects would be useful.
One is pickling support in Python (as requested in https://github.com/symengine/symengine.py/issues/205).
Another would be e.g. efficient dump/load to disk of large expressions without having to parse expressions.

I am not well versed in the plethora of C++ serialization libraries, I know of boost::serial

[2018-02-07 00:19] isuruf commented on #1394
@bluescarni, @certik, any recommendations?

[2018-02-07 12:28] eeshan9815 commented on #1324
@isuruf @certik
I would like to work on this issue.
Can you help me with the function declaration and point me to the files where I should implement it.

[2018-02-08 19:17] isuruf commented on #1380
Fixed in #1383

[2018-02-08 19:17] #1380 closed

[2018-02-11 14:10] bluescarni commented on #1394
IMO it largely depends on the use cases you have in mind for serialization.

Libraries like cereal and boost serialization make it quite easy to implement the serialization logic. They support out of the box the STL containers, and they map particularly well to a language like C++ in which you frequently have user-defined types nested into other user-defined types. They can also perform very well,

[2018-02-11 20:16] npochhi commented on #1386
I think we can close this issue..

[2018-02-12 16:28] isuruf commented on #1386
We should do the same for other visitors.

[2018-02-12 17:53] npochhi commented on #1386
Okay, I'll do the required changes in a new PR.

[2018-02-24 04:04] isuruf commented on #344
Closing this now that we have CI running in travis-ci OSX images.

[2018-02-24 04:04] #344 closed

[2018-02-24 04:06] isuruf commented on #360
Option is `-DBUILD_SHARED_LIBS=yes`, but defaults to static. Generally, CMake projects don't build both static and shared at the same time.

[2018-02-24 04:06] #360 closed

[2018-02-24 04:07] isuruf commented on #550
This is done in https://github.com/symengine/symengine-feedstock

[2018-02-24 04:07] #550 closed

[2018-02-24 04:11] #153 closed

[2018-02-24 21:31] isuruf opened #1404 "Sort the cpp files list in symengine/CMakelists.txt"
Reduces merge conflicts.

[2018-02-26 18:03] #1404 closed

[2018-02-27 16:20] ahumenberger opened #1409 "Distinguish between Basic and Symbol in C wrapper"
So far, the C wrapper does not distinguish between the types `Symbol` and `Basic`, it only knows `Basic`. Is there a specific reason for that?
It might be of interest to make this distinction, as some functions need arguments of type `Symbol` or `vec_sym` (e.g. `linsolve`).

[2018-02-27 16:25] isuruf commented on #1409
That's because the type of the expression is known only at run-time. For C++ functions needing arguments of specific types, we can check that the specific type is given before casting and sending the object to the C++ function.

[2018-02-28 07:17] #1409 closed

[2018-02-28 18:35] ahumenberger opened #1411 "Roots of a polynomial and their multiplicities"
If I'm not mistaken then there is currently no possibility to get the roots and their multiplicities of a polynomial. There is the function `solve_poly` which computes the roots but ignores the multiplicities as the underlying data structure is a set. Is that correct?

A possible way to change that would be to use a multiset instead of a set when computing the solutions of the polynomial. Any thou

[2018-03-02 21:40] albop opened #1413 "Strange sympifcation of symbols starting with `inf`"
This doesn't look like a feature... (or it's not the same result as sympy) :-)

[code]

[2018-03-02 21:44] albop commented on #1413
I was about to say it's in the wrong repository (should be in symengine.py), but then I checked, and the behavior is the same in SymEngine.jl so maybe it is the right repository after all:
[code]

[2018-03-02 21:47] isuruf commented on #1413
Yes, it's a bug in our parser code. Happens for `nan` as well. Basically the code checks for strings like `100x` and converts to `100*x` and `inflation` is converted to `inf*lation`. (Printing of `inf` as `inf.0` is another issue)

[2018-03-03 04:14] #1413 closed

[2018-03-23 07:45] florian-jean opened #1421 "Symengine as static library"
Hello, I would like to use symengine as a static library.
As far as I can understand the process to link it to C++ code, it is used as a dynamic library.
Any easy way to do it ?
Thanks

[2018-03-23 11:35] isuruf commented on #1421
You need to compile symengine as a static library. `cmake -DBUILD_SHARED_LIBS=no`. This is the default option. If you give `cmake -DBUILD_SHARED_LIBS=yes`, it will build dynamic libraries.

[2018-03-23 11:35] #1421 closed

[2018-03-29 23:55] yurivict opened #1422 "Please add -std=c++11 to CXXFLAGS for the compiler to be c++11"
Clang doesn't automatically enable c++11 unless this flag is set.

[2018-03-29 23:57] isuruf commented on #1422
Does https://github.com/symengine/symengine/pull/1376 work for you?

[2018-03-29 23:59] yurivict commented on #1422
I'm not sure if I can easily check this unless you squash 7 commits there into one.

[2018-03-30 00:01] isuruf commented on #1422
Would a patch file work? https://patch-diff.githubusercontent.com/raw/symengine/symengine/pull/1376.patch

[2018-03-30 00:07] yurivict commented on #1422
Yes, it solves the problem.

[2018-03-30 08:59] yurivict opened #1423 "FindARB.cmake looks for fmprb.h but Arb doesn't install it"
Here https://github.com/symengine/symengine/blob/master/cmake/FindARB.cmake#L3

Arb https://github.com/fredrik-johansson/arb doesn't have such file.

[2018-03-30 17:24] #1423 closed

[2018-03-30 17:30] isuruf commented on #1423
Thanks for reporting. Fixed in #1424

[2018-03-30 18:47] yurivict opened #1425 "[question] INTEGER_CLASS=boostmp doesn't link to boost libs, is this normal?"
With ```INTEGER_CLASS=boostmp``` configure prints these relevant values:
[code]

BOOST_LIBRARIES is left empty, and ```lib/libsymengine.so``` isn't linked to boost libs.
Is this normal? Can boost really be used as a headers-only library, or something fails here?
(I just don't know boost enough.)

[2018-03-30 18:56] isuruf commented on #1425
Yeah, only need the headers.
INTEGER_CLASS=boostmp disables arbitrary precision floating point stuff, so use `gmp` or `flint` (flint is faster) if you want arbitrary precision floating point.

[2018-03-30 18:56] #1425 closed

[2018-03-30 19:00] yurivict commented on #1425
Thanks for this information!

If ```flint``` is faster, shouldn't it be made a default then? You have ```gmp``` as a default.

[2018-03-30 19:02] certik commented on #1425
Also TCMALLOC is faster than the default malloc. What we do is that we turn the correct compiler options by default, but we only require the minimal third party libraries by default. GMP is available on all computers easily, so we only require that. For maximum performance, one has to link with more libraries like flint and tcmalloc.

[2018-03-30 19:02] isuruf commented on #1425
flint is not a hard dependency yet because there are some issues with building in windows. So symengine can be built without flint. https://github.com/symengine/symengine/issues/877

[2018-03-30 19:06] yurivict commented on #1425
Thank you for your explanations.
I am working on the FreeBSD port for ```symengine``` (and also ```piranha```). I'll make ```tcmalloc``` and ```flint``` defaults then, because there is no problem linking with them.

[2018-03-30 19:22] isuruf commented on #1425
Thanks for working on getting symengine on freebsd. If it helps, here's what I use for building symengine for distribution, https://github.com/symengine/symengine-feedstock/blob/tagged/recipe/build.sh#L6-L17 and the packages used https://github.com/symengine/symengine-feedstock/blob/tagged/recipe/meta.yaml#L21-L35

[2018-03-30 20:21] yurivict commented on #1425
Thanks! This helps with the right build options.

----

I have some more questions:
1. What is ```BFD```? Should there be an option to turn it on?
2. What about ```SYMENGINE_RCP```? Should there be an option for it?
3. ```ECM```? Does this enable extra functionality?
4. Do ```INTEGER_CLASS=piranha``` and ```INTEGER_CLASS=gmpxx``` support arbitrary precision numbers?
5. You said that setting ```INT

[2018-03-30 20:23] certik commented on #1425
1. and 2. are for a debug build (i.e., safer, but slower). If you only have one build in freebsd, I would suggest you do the default Release build. If you want to have a Debug build, then you can enable those.

[2018-03-30 20:27] isuruf commented on #1425
1. It's binutils-dev in debian which is used for stacktraces in debug mode. You probably don't need it since you are building Release
2. SymEngine's RCP can be replaced by Teuchos', for more debugging.
3. libecm-dev on ubuntu. It does enable extra functionality, but those are experimental stuff, not widely used though
4. Yes. They support arbitrary precision reals, complex reals, integers, rationa

[2018-04-03 02:13] tgn3000 opened #1426 "as_numer_denom yields segfault when working on -1/sqrt(2)"
The following produces a segmentation fault.

RCP<const Basic> num, den;
RCP<const Basic> i1(integer(1)), i2(integer(2));
as_numer_denom(neg(sqrt(div(i1,i2))), outArg(num), outArg(den));

If I remove "neg", then num=1 and den=1/sqrt(2), which are good. Thanks!

[2018-04-03 03:42] certik commented on #1426
@tgn3000 thanks for the bug report. I can exactly reproduce the behavior that you described. Here is a minimal example:
[code]

[2018-04-05 02:30] tgn3000 opened #1428 "trig_simplify does not simplify sin, cos(x + k * pi/2) when k/2 is a negative odd integer"
trig_simplify does not quite work for sin and cos when **k/2 is a negative odd integer**.

For example, k = -14 and the code at the end produces
[code]

Thanks!

[code]

[2018-04-05 02:58] isuruf commented on #1428
Fix in https://github.com/symengine/symengine/pull/1429

[2018-04-05 16:03] #1428 closed

[2018-04-06 21:37] certik opened #1430 "Ensure infinite recursion gives a meaningful error in Debug mode"
Currently an infinite recursion in SymEngine segfaults even in Debug mode, as evidenced in #1426.

It would be nice to figure out a way so that infinite recursion will give a nice error message to the user in Debug mode. Perhaps there are some options in gcc or clang to do that. Or perhaps some memory checker in clang can do that.

[2018-04-07 18:59] isuruf opened #1432 "Remove ffast-math"
From what I have seen ffast-math is helpful only if you have floating point arithmetic in your code. (loops with floats, assume commutativity for cse, etc) Since symengine is a symbolic library and not a numerical library there's no advantage. The few places we have floating points is `RealDouble`, `eval_double` etc, but here there are no optimization opportunities since we wrap doubles in `RealDo

[2018-04-07 19:45] certik opened #1433 "Fix a warning about std::move"
This https://travis-ci.org/symengine/symengine/jobs/363564521 gives a warning:
[code]

[2018-04-07 19:46] isuruf commented on #1433
Fixed in https://github.com/symengine/symengine/pull/1420

[2018-04-07 19:47] #1433 closed

[2018-04-08 04:42] isuruf commented on #1432
Benchmarks make no difference at all with and without `ffast-math`.

[2018-04-08 04:42] certik commented on #1432
I am fine with that, if benchmarks are not affected. In my numerical codes, `-ffast-math` provides significant speedup, so I have to use it. But if it makes no difference, we don't need to use it.

[2018-04-08 04:44] isuruf commented on #1432
Yes, in numerical codes it will have a significant speedup, but in code like ours, no difference.

I'll send a PR

[2018-04-16 02:31] tgn3000 opened #1435 "Teuchos::NullReferenceError in static const class member initialization function"
Dear developpers, the following code
[code]
produces
[code]

In Debug mode, I figured out that if I replace `one` by the explicit `integer(1)` and `minus_one` by `integer(-1)` in `mul.cpp`, then the error is gone. Seems that these global variables defined in `constants.cpp` somehow fail to carry the proper pointer values with them.

Thanks!

[2018-04-16 02:55] isuruf commented on #1435
Issue is that the order of global variable initialization is undefined among multiple translation units in C++. I don't know how to fix this though.

[2018-04-17 07:29] florian-jean opened #1436 "Factorisation and Rational functions"
Hello,

Is there a function and a class to factorise & for factorised Polynoms ?
If not I might be able to implement it using local minimums &/or testing tree of possibilities for root values but that won't be efficient for high order polynoms and only for rational polynoms

Is there an intent to support Rational functions ?

Thanks

[2018-04-17 08:03] florian-jean commented on #1436
solve_poly find the root of Polynoms

[2018-04-17 08:03] #1436 closed

[2018-04-17 12:18] florian-jean opened #1437 "divides_upoly for UExprPoly"
Hello,

Is the **divides_upoly** function implemented for the UExprPoly class ??
I can't find it

Thanks

[2018-04-24 01:16] bjodah opened #1438 "Compiling with clang-6/llvm-6 and flint fails"
flint seem to be defining a macro "WORD_MAX" which causes problems when LLVM headers are included:
[code]

Don't know what the best way is to deal with this, maybe:
- Reorder imports
- Forward declaring the functions/classes we use instead of importing their headers.
- Ask flint developers if they would be willing to put a `FLINT_` prefix on all their macros

For now I'll just build without flint.

[2018-04-25 19:28] bluescarni commented on #1435
Not sure I understand 100% correctly. Is the static order problem coming from the ``RCP`` or from the ``symbol`` class? I seem to remember @certik at one point mentioning that ``symbol`` is backed by a global map of strings, is that where the issue is coming from?

[2018-04-25 19:32] isuruf commented on #1435
It's coming from the `neg` method which uses a constant `minus_one`. https://github.com/symengine/symengine/blob/master/symengine/mul.cpp#L439 which is initialized at https://github.com/symengine/symengine/blob/master/symengine/constants.cpp#L40

Problem is that `A::s` is initialized before `minus_one` is.

[2018-04-25 19:48] bluescarni commented on #1435
Ah right ok.

So in general there are a couple of ways I try to deal with global state issues like this one. Sometimes it is possible to exploit a rule regarding *constant initialization*:

http://en.cppreference.com/w/cpp/language/constant_initialization

This essentially means that if your global variables have ``constexpr`` constructors, then they are guaranteed to be inited before global varia

[2018-04-30 16:04] isuruf opened #1442 "Wrap cse function in C"
https://github.com/symengine/symengine/blob/master/symengine/basic.h#L262

Maybe a signature like,
`void (CVecBasic* replacement_syms, CVecBasic* replacement_exprs, CVecBasic* reduced_exprs, const CVecBasic* exprs)`

[2018-04-30 21:59] isuruf commented on #1438
Is this in `llvm_double.cpp`?

[2018-05-01 08:38] bjodah commented on #1438
It occurs when `WITH_LLVM=ON`, but before compilation of that source file (look like during precompilation of the header file):
[code]

[2018-05-04 11:27] FFroehlich opened #1444 "Parsing of multiarg functions is broken"
I believe that the string `pow` is currently parsed incorrectly when combined with multiplication. Using python bindings to illustrate this issue:
---

**Steps to reproduce:**
[code]
**Expected result:**

`S4/S5`

**Obtained result:**

`-1 + S4/S5`

---

`sp.sympify('pow(S5,-1)')` does evaluate correctly to `sp.sympify('S5**(-1)')`.

[2018-05-12 15:57] Wrzlprmft opened #1445 "π is not a number"
[code]

`is_number` returns `None` for `pi`, though it should be `True`.

[2018-06-07 09:55] grubdragon commented on #1356
Is this issue open?

[2018-06-07 10:00] grubdragon commented on #1445
Can I work on this?

[2018-06-07 10:02] Wrzlprmft commented on #1445
I suppose so. Your contribution will have to be checked in a pull request anyway. Worst that can happen is that somebody coincidentally works on this at the same time, making your work redundant – but that’s extremely unlikely.

[2018-06-07 10:05] grubdragon commented on #1445
Okay, anything I should find out before starting? This is my first issue actually.

[2018-06-07 10:13] Wrzlprmft commented on #1445
While you can do this afterwards, it pays off to make yourself familiar with (topic) branches in Git and the pull-request system (you can find some information [here](https://help.github.com/categories/collaborating-with-issues-and-pull-requests/)). Also, take a look at [the contributing guidelines](https://github.com/symengine/symengine/blob/master/CONTRIBUTING.md). Finally, I recommend some basi

[2018-06-07 10:15] Wrzlprmft commented on #1356
Yes, unless there was a clerical error somewhere, it’s waiting to be fixed.

[2018-06-07 10:19] grubdragon commented on #1445
Okay, sure! I am familiar with the basics of git, and have looked through the guidelines. I do lack exposure to software testing, so I would be grateful for any resources. Thanks for everything!

[2018-06-07 10:29] Wrzlprmft commented on #1445
I would have to search for good beginner’s resources myself, but [this Wikipedia section](https://en.wikipedia.org/wiki/Software_testing#Automated_testing) should suffice. The most important thing is that there are automated tests (which should succeed) and if you add a new functionality or fix a bug, you should write a test for this. For example, for this problem, you could start by writing a tes

[2018-07-18 14:33] isuruf commented on #1438
Can you show the error log without cotire? `cmake -DWITH_COTIRE=no`?

[2018-07-18 15:23] bjodah commented on #1438
Disabling cotire (https://github.com/bjodah/symengine-feedstock/commit/95ff469fc3af8ac892b706f8c28199b1baf719a7) seems like it solves this particular issue. I get a linking error but it looks completely unrelated to flint:
[code]

[2018-07-18 16:39] bjodah commented on #1438
Sure: https://pastebin.com/Wy6PsyCS

[2018-07-18 16:44] isuruf commented on #1438
LLVM itself was compiled with `libstdc++` on conda-forge and you are compiling symengine with `libc++`.

[2018-07-18 16:54] bjodah commented on #1438
I see. So it's unrelated as I suspected. I don't think I'll dig into that issue specifically though.
But good to know that disabling cotire can act as a work around for the name collision between flint & LLVM.

[2018-07-18 17:02] isuruf commented on #1438
You can remove the line at https://github.com/bjodah/symengine-feedstock/commit/95ff469fc3af8ac892b706f8c28199b1baf719a7#diff-44a73bcc045c193c3bd45da87994b03bR8 to fix it.

I'll keep this issue open to disable cotire when flint and llvm are both enabled.

[2018-07-19 21:14] Marlin-Na opened #1447 "Parsing mistake with "z + f(x + y, g(x), h(g(x)))"?"
This is what I got from the python wrapper:

[code]

[2018-07-19 21:16] isuruf commented on #1447
Duplicate of https://github.com/symengine/symengine/issues/1444

[2018-07-19 21:16] #1447 closed

[2018-07-22 20:05] isuruf commented on #1378
+1 from me as well.

[2018-08-11 02:01] Magalame commented on #268
Hi, I was wondering if there was any news on this?

[2018-08-15 12:53] rdbyk opened #1450 "String Representation of "x*(y<1)" is Wrong"
The parsing (`basic_parse`) seems to be Ok, but the string representation (`basic_str`) has an issue, cf. below
[code]

[2018-08-15 14:06] isuruf commented on #1450
Thanks for the bug report. All the `Relational` operators needs to have `PrecdenceEnum::Add` like https://github.com/symengine/symengine/blob/master/symengine/printer.h#L20

[2018-08-15 14:44] rdbyk commented on #1450
Thanks, I have tried that, but it seems that `Relational` operators need their own precedence level less than `PrecdenceEnum::Add` ?
PrecdenceEnum::Add

[2018-08-15 14:46] isuruf commented on #1450
You are right. It needs something lower.

[2018-08-15 14:48] rdbyk commented on #1450
Sorry for closing it by accident ..... So do you think one should introduce `PrecdenceEnum::Relational`? I could try to fix it.

--> Sym("x*(y<1)")
 ans  =

   x*(y < 1)
                                                                                                                                  (1:Mul)

--> GetArgs(ans)
 ans  =

   < x, y < 1 >

[2018-08-15 14:52] isuruf commented on #1450
Yes. If you can send a PR with a test, I'll be happy to review

[2018-08-15 21:43] isuruf commented on #1442
This is fixed in https://github.com/symengine/symengine/commit/e6f7a5ea8326ddd9460dbbb5d4e8bf44727e469e

[2018-08-15 21:43] #1442 closed

[2018-08-16 13:27] isuruf commented on #1450
Fixed in #1451

[2018-08-16 13:27] #1450 closed

[2018-08-23 11:47] Wrzlprmft opened #1453 "Importing SymEngine messes with float equalities"
Minimal example:

[code]

[2018-08-23 13:26] isuruf commented on #1432
Another consequence is https://github.com/symengine/symengine/issues/1453 where subnormal numbers are affected in other libraries.

[2018-08-23 13:26] isuruf commented on #1453
See #1432.

[2018-08-23 13:37] bjodah commented on #1453
But how can this affect Python's built-in `float` (which is the type here)?

[2018-08-23 13:44] isuruf commented on #1453
I guess gcc sets the FTZ flag to true (Flush denormal to zero) which would make the hardware flush denormal numbers to 0. This affects python as well.

[2018-08-23 13:49] bjodah commented on #1453
I had no idea importing shared libraries could change that (process wide?). Scary. +1 to compile symengine without `-ffast-math` as the default. (and add a test to symengine.py checking that python's built-in floats are unaffected by import of symengine)

[2018-08-23 14:12] bjodah commented on #1453
Should we remove `-ffast-math` from:
https://github.com/symengine/symengine/blob/7b4db85ff3baf7fab6c6bbe02a658cf4c5822326/cmake/UserOverride.cmake#L12
(when is active UserOverride.cmake? README does not mention the file)

[2018-08-23 14:18] Wrzlprmft commented on #1453
@isuruf @bjodah: I just compiled SymEngine and the Python bindings using the current GitHub versions from scratch and removed the `-ffast-math` flag before doing so. The aforementioned issue still persists. It would be nice if somebody could double-check this, however, as I am not completely sure that I removed every potential culprit.

[2018-08-23 14:36] certik commented on #1453
We have to remove `-ffast-math`, I didn't know it affected other libraries like this. I thought it only affects our own library.

[2018-08-23 14:41] Wrzlprmft commented on #1453
@isuruf I tried again and thoroughly removed everything SymEngine and this time it worked. No idea what I did wrong the first time.

[2018-08-23 14:55] certik commented on #1453
@Wrzlprmft you might have left the `CMakeCache.txt` around, and `cmake` caches the options from `UserOverride.cmake`, so you have to completely remove it when you change `UserOverride.cmake`.

[2018-08-24 01:33] isuruf commented on #1453
Is the test portable? Does the python standard guarantee denormal numbers are not flushed to 0?

[2018-08-24 06:59] Wrzlprmft commented on #1453
Well, you can always control that nothing changes:

[code]

The only problem with this is that if the test is called from Python, the calling instance may already have affected the flags, so the test doesn’t do much. However, you can fiddle with the way the test is called until it fails with the old version of SymEngine.

[2018-08-27 19:40] isuruf opened #1455 "Add.get_args depends on the ordering of the unordered_map"
Here's a python session

[code]

[2018-08-30 18:19] moorepants opened #1456 "Matrices need an xreplace() method."
Getting this error when running sympy mechanics with symengine:

[code]

[2018-08-30 18:58] isuruf commented on #1456
This issue was moved to symengine/symengine.py#245

[2018-08-30 18:58] #1456 closed

[2018-09-02 15:48] Magalame opened #1457 "Solver function"
There has been mention of implementing a solver function (https://github.com/symengine/symengine/issues/268 ), but it seems like symengine is still lacking one. Is it likely to have one someday?

Thanks!

[2018-10-04 21:03] ChrisRackauckas opened #1462 "Parsing of I from Julia expressions"
`ex = SymEngine.Basic(:(2I^2 + 1))` outputs `-1` from SymEngine.jl. This is odd because `I` is not used for imaginary numbers in Julia since `im` is the imaginary. This breaks code which is derived from valid Julia expressions. I suggest switching the imaginary parsing to `im` for expressions from Julia.

[2018-10-05 22:15] certik commented on #1462
@ChrisRackauckas good point. I think the parser should have some options about this, and the Julia wrappers should use the options appropriate for Julia.

[2018-10-06 07:04] isuruf commented on #1444
Fixed in #1211

[2018-10-06 07:04] #1444 closed

[2018-10-17 13:43] bjodah opened #1463 "std::set_intersection called with unsorted ranges"
A test suite in a library of mine which uses symengine is failing when using `cse` (I caught this bug when compiling using gcc with `_DGLIBCXX_DEBUG` defined).

I've tracked down the error to this line:
https://github.com/symengine/symengine/blob/b3a2159b7e6950726157626069c30712427d55b2/symengine/cse.cpp#L147

The test case is complicated and the library depends on many other 3rd party libraries a

[2018-10-17 16:39] isuruf commented on #1463
Thanks for figuring this out. (I vaguely remember symengine being slower than sympy on a huge expression that I encountered in my research.) I'll dig into this. It will help if you could just print the expressions to a file, one expression per line, so that I can read the file and parse them.

[2018-10-17 18:37] bjodah commented on #1463
Sure, this is looks to be the expressions triggering the failure:
[code]
sorry for the wait, took a while to reproduce locally (flags, environment variables and all).

[2018-10-18 19:39] isuruf commented on #1463
@bjodah, can you do,
[code]
and send me the output when you run this problem? I can't reproduce your issue.

Can you also add a sort for `indices` after https://github.com/symengine/symengine/blob/b3a2159b7e6950726157626069c30712427d55b2/symengine/cse.cpp#L144 and check?

[2018-10-18 20:19] bjodah commented on #1463
Sure, I'm running gcc-8 in case this is a new addition to their _GLIBCXX_DEBUG features.

This is the output (just before abort) with your debug patch applied:
[code]
(and the `...done`, `...` & `exprs:` parts are obviously debug prints from my lib)

Adding:
[code]
fixes the issue, and this is what is printed instead:
[code]
(and so on...)

<details><summary>My cmake config of symengine</summary><

[2018-10-19 10:28] bjodah commented on #1463
Looking at my log again I'm not certain that the expression that I gave is the one causing the error (that "...done" part shouldn't be there), I'll look into this later tonight and I'll see if I can figure out if it's another expression causing this.

[2018-10-19 16:38] bjodah commented on #1463
I was using '\n' in my print statments instead of `std::endl` (so I wasn't flushing). This should be the problematic case:
[code]
I turned this into a test case which triggers locally on my machine with _GLIBCXX_DEBUG defined. I pushed the test case and the fix with the added the sort call in gh-1465.

[2018-10-20 20:47] bjodah opened #1467 "symengine fails to build with LLVM-7"
I think we need to add some `#ifdef` guards based on llvm version to some optimization passes which have been removed/renamed (I haven't yet looked into which is the case) in llvm-7:

[code]

[2018-10-21 10:56] bjodah opened #1468 "warnings building with clang++-7"
This is nitpicking really, but I believe our policy is no warnings during the build?

building master with `clang++-7` currently gives me these warnings:
[code]

[2018-10-21 11:29] #1463 closed

[2018-10-22 16:35] certik opened #1472 "Add a test for Jupyter notebook"
After https://github.com/symengine/symengine/pull/1461 SymEngine now works in a Jupyter notebook in the C++ mode. We have to add a test for it (install jupyter and xeus-cling, install symengine and execute the example notebook using `nbconvert`), which will ensure that the cling pragmas work and that everything gets loaded properly.

[2018-10-22 16:38] SylvainCorlay commented on #1472
It will all be simpler when the compiler transition will be done on conda-forge because symengine and xeus-cling will both be on the same channel.

[2018-10-22 16:40] certik commented on #1468
@bjodah yes, our policy is "warnings as errors" on the CI and we have to fix this. By default in cmake, the warnings are not errors, so that users can easily build it with newer compilers (that add more warnings that we haven't fixed yet).

[2018-10-22 16:47] certik commented on #1472
Ok, let's wait.

[2018-10-22 16:54] SylvainCorlay commented on #1472
Progress bar: https://conda-forge.org/status/

out of the ~1900 remaining 1200 depend on r-base, so I think it will be quicker now.

[2018-10-22 17:28] certik commented on #1472
@SylvainCorlay got it --- we need this new `conda-forge/label/gcc7` channel. So we'll wait until this is done.

[2018-10-22 19:32] isuruf opened #1473 "Building with LLVM and cling doesn't work"
Cling kernel dies with
[code]

cc @SylvainCorlay

[2018-10-22 19:59] SylvainCorlay commented on #1473
Hum never seen this.

Note that the only way to get cling with conda is

[code]

The conda-forge channel's cling is not functional.

[2018-10-22 20:06] isuruf commented on #1473
Yes, that's what I did.

[code]

[2018-10-22 20:22] isuruf commented on #1473
Hmm, looks like libsymengine.so still exports LLVM symbols. If I use a linker version script to strip out the LLVM symbols, it works. (ref https://www.ibm.com/developerworks/aix/library/au-aix-symbol-visibility/index.html)

[2018-10-22 20:42] isuruf commented on #1473
Adding `-Wl,--exclude-libs,ALL` to `LDFLAGS` works too. These options are gcc specific though.

[2018-10-22 21:05] certik commented on #1473
I see, this only happens if symengine is built with LLVM support.

What is the root of the problem? That even if symengine links to LLVM statically, the symengine.so still exports LLVM symbols that then clash with the cling's llvm symbols? Is this a problem with LLVM, that it exports symbols?

What are the possible solutions? One is to strip out the LLVM symbols from symengine.so (either by a link

[2018-10-22 21:20] isuruf commented on #1473
I think the issue is that LLVM dynamically looks at the symbols loaded in the current process to figure out which LLVM passes to register and since cling and symengine both have the two symbols corresponding to the same pass, that same pass is added twice which results in an LLVM error when the library is loaded.

I think you mentioned all of the options available.

[2018-10-22 23:19] certik commented on #1473
@SylvainCorlay you have the most experience with cling: what do you think we should do here?

[2018-10-23 04:37] certik opened #1476 "Organize Jupyter notebooks"
Right now we only have one notebook, and it's very simple.

We don't really have good tutorial right now. I am thinking we should simply write the tutorial using the jupyter notebooks. The landing notebook can be similar to how it is now, perhaps show casting a bit more. And then there should be links to the tutorial / "user's guide" notebook, that will discuss symengine more thoroughly.

I think

[2018-10-23 07:35] vgvassilev commented on #1473
The error usually shows up when you have linked some of the llvm libraries twice: first in an executable and second in a shared library which gets `dlopen`-ed by the same executable. This causes reinitialization of the global state and leads to similar set of errors.

[2018-10-24 02:00] #1467 closed

[2018-11-11 17:57] isuruf opened #1478 "Add a method to create a object from class id and args"
Something like,

`create_basic(SYMENGINE_ADD, [x, y, z])` should return `x + y + z`

[2018-11-11 18:08] isuruf commented on #1478
Or, we can extend `create` method already defined for all functions to all of `Basic`.

[2018-11-12 21:29] certik commented on #1478
I see, yes, anything we can do to simplify other languages' wrappers, we should do.

[2018-11-15 09:53] mardukbp opened #1479 "Segmentation fault due to undefined symbol"
I installed SymEngine with `conda install symengine -c symengine -c conda-forge`. Then entered `USE_SYMENGINE=1 isympy` and got

[code]

`nm -gC symengine_wrapper.cpython-36m-x86_64-linux-gnu.so` reveals that this symbol corresponds to
`U SymEngine::LLVMDoubleVisitor::bvisit(SymEngine::Gamma const&)`

I hope this information helps.

[2018-11-15 16:29] isuruf commented on #1479
can you send the output of `conda list`

[2018-11-15 17:31] isuruf commented on #1479
Do, `conda install python-symengine -c symengine -c conda-forge`

[2018-11-15 19:10] mardukbp commented on #1479
In the end I reinstalled conda and now it works. Thanks for your help!

[2018-11-15 19:10] #1479 closed

[2018-11-15 19:52] certik commented on #1479
@mardukbp thanks for reporting it.

@isuruf do you know what the issue was? Different compilers for symengine vs python-symengine?

[2018-11-15 19:54] isuruf commented on #1479
@certik, symengine and python-symengine in `conda-forge` channel was compiled without llvm. Using `symengine` from `symengine` channel and `python-symengine` from `conda-forge` channel will lead to errors like this

[2018-11-15 19:55] certik commented on #1479
@isuruf I see, thanks for the clarification.

[2018-11-19 15:09] #1473 closed

[2018-11-21 11:21] raphaelquast opened #1480 "conflict of python-symengine and basemap ??"
hi,
running the following commands in a new environment, i get an error:

[code]

UnsatisfiableError: The following specifications were found to be in conflict:
  - basemap
  - python-symengine

any ideas how to resolve this? (or do you think this issues is better placed at the
basemap-page?)
(by the way, actually i was interested in installing `python-symengine==0.3.0.84.ga12f736=py36_vc14_0`
but

[2018-11-25 22:05] isuruf commented on #1480
Can you try doing `conda install -c conda-forge basemap`?

[2018-12-04 13:30] Melisius opened #1488 ".evalf() cannot evaluate when symbols are present"
import symengine
    A = symengine.Symbol("A", real=True)
    B = symengine.Rational(3,10)*A
    B.evalf()

    RuntimeError: Symbol cannot be evaluated.

This might be the expected behavior?

This result is quite different from Sympy, that would return:

   0.3*A

[2018-12-20 06:04] rahulsanjay18 opened #1484 "Having trouble building documentation"
When I run make html or make LaTex or anything, this error appears:

`reading sources... [ 14%] src/add
Exception occurred:
  File "/home/rahul/.local/lib/python2.7/site-packages/breathe/directives.py", line 696, in get_mtime
    raise MTimerError('Cannot find file: %s' % os.path.realpath(filename))
MTimerError: Cannot find file: /home/rahul/Documents/symengine-0.3.0/doc/doxyxml/index.xml
The full

[2018-12-20 16:01] stephweissm opened #1485 "Lambdify with LLVM does not work with Piecewise"
I might have misunderstood something, but wasn't this implemented in symengine/symengine#1446?
[code]

[2018-12-20 16:02] isuruf commented on #1485
It wasn't. I can review or help with a PR if you'd like to implement it.

[2018-12-20 16:59] bjodah commented on #1457
@Magalame I believe there will be one as soon as someone willing & capable of writing one finds the time (there are no paid employees working on SymEngine). The lead developers are quite busy, but even then they usually manage to find time to review PRs very quickly. Feel free to try to implement it.

[2018-12-20 17:10] certik commented on #1457
I am happy to review any PRs if somebody implements this.

[2018-12-20 17:43] Magalame commented on #1457
Thanks for the answer! Unfortunately I don't think I could manage to implement it though :/

[2018-12-21 00:44] #1457 closed

[2018-12-21 15:55] certik commented on #1426
@isuruf would you have time to look at this issue? I think this is a big bug that needs to be fixed, because it gives a segfault.

[2018-12-23 21:06] Upabjojr opened #1489 "RUBI rules: C++ code generator"
I have started an initial draft for a C++ code generator targeting SymEngine for the RUBI integration rules:
https://github.com/HPAC/matchpy/pull/51

Hopefully it will soon be able to generate a decision tree in C++ from Wolfram Mathematica pattern matching rules.

[2018-12-23 23:14] #1426 closed

[2018-12-24 01:34] tgn3000 commented on #1426
Hi @certik  I also checked SymEngine's recent features just now, and am happy to see this! Thank you so much for your great work & effort! Cheers!
Gary

[2018-12-24 17:43] isuruf commented on #1062
MathML printing (not parsing) is available in master now

[2018-12-24 23:47] #1372 closed

[2018-12-25 15:17] Midnighter commented on #1372
Awesome :tada:

[2018-12-26 09:37] #1488 closed

[2018-12-26 16:32] certik commented on #1488
Thanks @isuruf for fixing it!

[2019-01-02 20:41] agarny commented on #1062
Thanks @isuruf.

[2019-02-07 17:16] certik commented on #1012
This is what I get in Debug mode:
[code]
The following patch
[code]
makes the last test much faster:
[code]

[2019-02-08 09:50] jppelteret opened #1502 "Addition of classes to assist using SymEngine in numerical codes"
Hi all,

I'm one of the developers of the [deal.II finite element library](http://dealii.org/), and have been working towards integrating SymEngine support into our codebase. For this to be possible, we've needed to implement what amounts to a C++ wrapper for SymEngine numbers that supports "traditional" operator overloading as well as casting (i.e. self-evaluation). It also understands a certain

[2019-02-08 15:45] certik commented on #1502
@jppelteret I think this is a great idea. @isuruf has the best understanding of the low level details and it seems you have been in touch with him.

In general regarding the core of SymEngine, we didn't use operator overloading, and rather opted for explicit `add`/`mul`/... functions, because it was easier to deliver performance, const correctness etc. For expressions, we have a wrapper that imple

[2019-02-08 16:49] jppelteret commented on #1502
Ah, thank you for this reminder. @isuruf mentioned the `Expression` class at some point but I'd forgotten about it. I think that this and the `SymEngineNumber` that I've implemented (prior to my knowledge of `Expression`) are similar, but my current implementation is perhaps a bit more feature rich (for example, it allows the creation of function symbols, differentiation, and casting). Maybe we co

[2019-02-08 16:55] certik commented on #1502
@jppelteret Yes, if you could push the branch, then we can see how to best merge things with symengine.

Yes, for your use case, the possible small penalty of the wrapper seems justifiable.

[2019-02-08 16:57] jppelteret commented on #1502
Ok I will do so. For the purposes of review I would be happy to split the implementation into smaller PR's.

[2019-02-08 20:54] certik opened #1506 "Ship a simple implementation of integer_class"
For dependencies, we can simply use Conda on all platforms. Conda is great that all dependencies just work, but has the disadvantage that only modern compilers are included. That is good enough to test that SymEngine works with all our dependencies. But it is also important that the core of SymEngine works with older compilers on all supported platforms. For that we don't need to test any dependen

[2019-02-09 19:00] SylvainCorlay opened #1509 "C++ Operator overloading for arithmetic operations on symengine symbols"
Have you considered using C++ operator overloading for arithmetic operation on symengine symbols?

This would make the C++ API much simpler to use than with e.g. `Symengine::add`...

[2019-02-09 19:02] isuruf commented on #1509
There's the expression class in expression.h and operators are overloaded there. It'll be weird to overload operators on pointer classes, so the Expression class stores the pointer and does operator overloading

[2019-02-09 19:03] SylvainCorlay commented on #1509
This would also enable the natural use of symengine symbols as a scalar type for array structures such as `xtensor`. I would find it cool to make similar experiments to e.g. [this](http://www.stochasticlifestyle.com/fun-julia-types-symbolic-expressions-ode-solver/) with `xtensor` and `symengine`.

[2019-02-09 19:03] SylvainCorlay commented on #1509
Ah, do you think that the `expression` would be a better candidate for a richer C++ notebook example?

[2019-02-09 19:04] isuruf commented on #1509
Yes, definitely.

[2019-02-09 19:23] certik commented on #1509
See the discussion here:

https://github.com/symengine/symengine/issues/1502#issuecomment-461845642

that explains why we don't use it for the core of SymEngine, but why it makes perfect sense to use it for a user facing API as well as Jupyter notebooks.

[2019-02-09 22:19] #1509 closed

[2019-02-09 22:22] SylvainCorlay opened #1510 "Jupyter rich mime type rendering for symengine expression"
The Jupyter C++ kernel allows for rich mime type rendering of user-defined types.

The only thing to implement is the function `json mime_bundle_repr(const foo&)` where `foo` is the user type, in the same namespace as `foo`. This is picked up by ADL. `mime_bundle_repr` should return a JSON mime bundle repl.

See e.g. for a simple image class:

https://xeus-cling.readthedocs.io/en/latest/rich_displ

[2019-02-09 23:05] isuruf commented on #1510
Yes, I agree we should do this, but the issue was that I couldn't find a macro like `__XEUS_CLING__` to tell if it's a xeus cling session or not.

[2019-02-09 23:09] SylvainCorlay commented on #1510
I agree such a macro could be useful.

However, do you want these functions to not exist when not running xeus-cling? They could be in a separate header.

[2019-02-10 05:46] certik commented on #1510
I would keep them there always, as they would be part of the `Expression` class, which is a user facing API anyway, so it should be as user friendly as possible by default.

[2019-02-11 05:59] isuruf commented on #1510
I meant I don't want to add a dependency on `nlohmann/json.hpp` as you need it to add the rendering.

[2019-02-11 16:44] SylvainCorlay commented on #1510
We could define it in a separate header, included in the `Expression` header when in XEUS_CLING...

[2019-02-28 06:53] #1510 closed

[2019-03-01 10:59] jppelteret opened #1516 "Conflicts of internal Teuchos with that from Trilinos library"
I've been developing some features in an external library that uses both SymEngine and Trilinos. Because I've been adding features to SymEngine as well I've built it in debug mode, while my fully-featured Trilinos is built in release mode. This causes some conflicts because SymEngine builds Teuchos with `HAVE_TEUCHOS_STACKTRACE` defined, while in Trilinos `HAVE_TEUCHOS_STACKTRACE` is not defined.

[2019-03-01 15:28] certik commented on #1516
@jppelteret good point. Thanks for the tip. I wrote the stacktrace facility for Trilinos originally. Another solution is to make it a small separate library and make both Trilinos and SymEngine depend on it, but that's long term. For now we should prefix the macros.

[2019-03-04 09:37] teamleader6 commented on #912
can you be specific and declare the problem in details

[2019-03-04 09:39] teamleader6 commented on #1324
can you declare the problem in details

[2019-03-04 10:26] teamleader6 commented on #912
i will start working on this issue , i hope you give me some sample of prototypes that describes the functionality

[2019-03-04 10:58] teamleader6 commented on #912
i will work on this issue but i need some extra information to know possible input and output

[2019-03-04 11:29] teamleader6 commented on #1324
i would like to work on this issue
send me any extra information at my mail mido06238@gmail.com but i hope as fast as possible

[2019-03-04 20:51] certik commented on #1324
I updated the issue description with links to documentation and sources in SymPy.

[2019-03-04 21:22] teamleader6 commented on #1324
i understand the issue now but where should i put the implementation of
apart in symengine and which file should i deal with and where is the test
cases and thanks in advance

On Mon, Mar 4, 2019 at 10:51 PM Ondřej Čertík <notifications@github.com>
wrote:

[2019-03-04 21:28] RWTHsniper opened #1520 "Requesting implementing "simplify" method in SymPy"
Dear whom it may concern,

I am a graduate from RWTH Aachen and enjoying using SymEngine for quantitative finance.
I found it very interesting. This is the most active community of symbolic math in Julia.

I think that having "simpliy" method in SymPy available in this library will be quite useful.
(https://docs.sympy.org/latest/tutorial/simplification.html)
That is because we can have a readable

[2019-03-04 21:48] certik commented on #1324
@teamleader6 You can create a new file with the implementation, for now you can call it `apart.h`/`apart.cpp`, we can figure out later if we want to rename it. Regarding the test cases, you can get them from SymPy:

https://github.com/sympy/sympy/blob/2d015831a30605244dc9401d743b66d8574ebddb/sympy/polys/tests/test_partfrac.py

[2019-03-05 12:07] teamleader6 commented on #1324
i will win the chance Mr Certik i will do my best to solve 2 issues of the
project
Improve SymPy integration
i will start with implementing matrix expressions first then apart , from
this moment i will consider you sir my mentor .

On Mon, Mar 4, 2019 at 11:48 PM Ondřej Čertík <notifications@github.com>
wrote:

[2019-03-06 13:13] jppelteret opened #1517 "Internal optimisations and the properties of (custom) numbers"
The `NumberWrapper` class opens up some interesting possibilities as to what one might be able to interpret the result of symbol operations as. Without looking under the hood, it would seem to me that there are some optimisations in place that assume that the properties of `Symbol`s match those of real numbers, specifically associativity and commutativity.

For example, the simple program
[code]
y

[2019-03-06 13:14] jppelteret commented on #1517
@luca-heltai Ping (relates to our desired implementation of wrappers for `LinearOperator`s and linear algebra in general).

[2019-03-06 16:39] certik commented on #1517
I am not sure I follow, but `c*(a + b)` can be represented as far as I know by `mul(add(a, b))`. But the case `a*(b*c)` cannot, as this is related to the efficient internal representation of SymEngine, which is needed for its fast performance. If you need to represent that, we would have to create a new representation and classes that support that.

The same with non-commutative algebras --- they

[2019-03-07 14:14] jppelteret commented on #1517
Thanks a lot for the insight @certik. I guess that confirms what I'd thought. @luca-heltai and I had been discussing some time ago if we could use SymEngine to symbolically represent sparse linear algebra operations, but it would seem like its not really the right tool for the job. Without understanding the current restrictions in the library we were left to speculate whether or not it could be do

[2019-03-07 17:46] isuruf commented on #1517
I've re-opened this issue and marked as a future enhancement.

[2019-03-07 17:52] certik commented on #1517
@jppelteret this has been a long open design question in SymPy, whether or how the symbolic tree can be used to represent the expression.

For SymEngine, the primary concern is performance. Otherwise SymPy works pretty well. And for performance, it is advantageous to have a special internal representation for each use case, and nail the data structure + algorithm to get the best performance for th

[2019-03-07 18:05] certik commented on #1520
@RWTHsniper thanks for the feedback. I am very happy that SymEngine is useful in Julia. That was precisely my hope that by doing it strictly in C++, it can be exposed to all other languages and so we can all collaborate on a single code base and benefit both Python and Julia (and others).

I would definitely like `simplify` to be implemented. It's a huge task actually, there are a lot of algorithm

[2019-03-07 18:57] luca-heltai commented on #1517
Just to put things into perspectives (@jppelteret ): a motivation comes from building block preconditioners for complicated multi-physics problems. One way this is achieved is by writing symbolically the blocks of a matrix that refer to different physics (and coupling), and then perform some sort of gauss elimination on the block matrices to get hints on what are the blocks for which one needs a g

[2019-03-07 19:19] certik commented on #1517
@luca-heltai is the application to be able to symbolically represent matrix blocks, so essentially to symbolically represent matrices? I would suggest to see if SymPy can be used first. If so, we can then look at your SymPy examples and see how to provide support in SymEngine. Here is how to get started in SymPy:
[code]

[2019-03-08 11:13] jppelteret commented on #1517
@certik @isuruf Thanks for being willing to consider this as a future enhancement. I had originally got the impression that it really wasn't a viable option, so I appreciate that you're open to the possibility that this gets implemented and added to the library.

Not working in your field, I had no idea that this was such a challenging issue.

Would you be willing to point us towards the (core) pa

[2019-03-08 15:10] ichumuh opened #1521 "Add support for more functions to Lambdify (with llvm backend)"
Hi,
would it be possible to make Lambdify, with llvm backend, support more functions?
In particular I could really use `floor`, `ceiling`, `sign` and `atan2`.

[2019-03-08 15:35] isuruf commented on #1521
Sure. PRs are welcome.
`floor, ceiling` should be the same as `sin` at https://github.com/symengine/symengine/blob/master/symengine/llvm_double.cpp#L483

`sign` and `atan2` are slightly more complicated, but I can help you with that.

[2019-03-09 07:19] ahumenberger opened #1523 "Coefficient for n^0 always zero"
Applying `coeff` to some expression `b` with some arbitrary `x` and `n=0` always returns `0`.
E.g. `coeff(2 + a + a^2, a, 0) = 0`, but should be `2`.
https://github.com/symengine/symengine/blob/b3a2159b7e6950726157626069c30712427d55b2/symengine/visitor.cpp#L63

This behaviour is also required by the tests:
https://github.com/symengine/symengine/blob/95834bb8a86952ee26446220d0fac4739ec6bb1f/symengi

[2019-03-09 18:53] isuruf commented on #1523
PRs are welcome to fix this. If a test requires the current behaviour, the test is wrong

[2019-03-11 03:27] certik commented on #1517
To understand how SymEngine works, I would start with this paragraph here:

https://github.com/symengine/symengine/blob/master/doc/design.md#object-creation-and-is_canonical

and then look at the actual implementation, e.g.:

https://github.com/symengine/symengine/blob/380386eb8a603dcda8144a8c739c12b9313eb67b/symengine/add.h#L42

and the documentation above the class as a comment. Then look at Mul

[2019-03-13 14:54] jppelteret commented on #1517
Thanks a lot for the tips @certik . I've skimmed over them, but will take a deeper look again when I'm thinking about giving an implementation a go.

[2019-03-13 16:35] certik commented on #1517
@jppelteret if you are interested, we can work on the design together.

The first thing is to design Mul. Currently both `A*B^2` and `B^2*A` is represented as a dictionary `{A: 1, B: 2}`, corresponding to `A^1*B^2`. So commutativity is implicit. We need to figure out another representation which distinguishes `A*B^2` and `B^2*A`. We should do some research how other packages handle this.

One obvi

[2019-03-14 06:30] isuruf commented on #1521
Fixed in #1522. Thanks for the PR

[2019-03-14 06:30] #1521 closed

[2019-03-14 10:57] bjodah opened #1525 "Memory leak when using LLVMDoubleVisitor"
Consider this minimal example:

[code]
and running the executable as:
[code]
Maximum resident set size shouldn't grow with the size of the argument, but when compiled with `-DUSE_LLVM`, it grows linearly, indicating that all resources are not being freed upon calling `~LLVMDoubleVisitor()`.

I see a bunch of raw pointers in LLVMDoubleVisitor being assigned to in `init(...)` but I don't see the cor

[2019-03-14 17:35] isuruf commented on #1525
I ran the same command and the maximum resident set size doesn't change (around 21000 kb) as the argument is increased

[2019-03-14 21:48] certik commented on #1525
Thanks. We should fix it.

[2019-03-16 21:18] #1525 closed

[2019-03-19 08:39] ahumenberger opened #1529 "Parsing "-a^2" yields a^2"
`parse("-1**2")` yields `1`
`parse("-a**2")` yields `a^2`

As a reference, SymPy returns `-1` and `-a^2` respectively.

[2019-03-19 08:46] isuruf commented on #1529
Is this with master?

[2019-03-19 08:49] ahumenberger commented on #1529
Yes. I didn't check the official release.

[2019-03-19 08:51] isuruf commented on #1529
Thanks for the bug report. (No need to check the official release which is old now)

[2019-03-24 20:25] isuruf opened #1533 "Non-canonical add with differentiation"
[code]

[2019-03-24 20:31] certik commented on #1533
This looks like a bug in differentiation, hopefully.

[2019-03-26 23:25] #1533 closed

[2019-03-27 03:31] #1529 closed

[2019-03-27 03:52] isuruf commented on #1523
Fixed in #1524. Thanks

[2019-03-27 03:52] #1523 closed

[2019-03-28 20:42] isuruf opened #1540 "Setup a release notes bot"
Like in SymPy.

@asmeurer, what has to be done to do this in SymEngine?

[2019-04-01 08:37] bjodah opened #1542 "Problems with -march=native"
`-march=native` is giving me problems on a CI server when building release version of current SymEngine master:
<details>
<pre>
+ export SYME_DIR=$(pwd)/ci_cache/syme-6847e8a-rel
+ if [ ! -d $SYME_DIR ]; then (cd /tmp; $REPO/.ci/get_symengine.sh $SYME_DIR $SYMENGINE_COMMIT); fi
-- The C compiler identification is Clang 6.0.1
-- The CXX compiler identification is Clang 6.0.1
-- Check for working C

[2019-04-11 09:36] Shekharrajak commented on #1455
@isuruf , can you please a bit about expected output and what needs to be fixed here?

[2019-04-11 13:13] isuruf commented on #1455
Expected output would be that the two outputs are the same.

[2019-04-11 16:47] certik commented on #1455
@isuruf we need to order the arguments before returning them as `.args`. But what should we use as the order key? I think SymPy orders them too if I am not mistaken, so we should try to use the same key.

[2019-04-11 16:47] certik commented on #1455
@isuruf we need to order the arguments before returning them as `.args`. But what should we use as the order key? I think SymPy orders them too if I am not mistaken, so we should try to use the same key.

[2019-05-04 14:52] zhaojunchen commented on #367
Today I have same problem about cin and cout .My pc is macbook air,and IDE  is Clion.
Look the official document about c++ Input module
[code]
I don't add lingmpxx moudle at the my CmakeLists.txt  ,so I add it into my project cmakelists.txt as follows:
[code]
The it is ok!

[2019-05-09 10:18] silveiralucas commented on #1520
I am current using SymPy in my master thesis in Wind Energy. However, the time take to simplify the equations is preventing to move forward and I will most likely have to move to a commercial tool. I have tried moving towards SymEngine, but the lack of the simplifying tool prevents significant running time gains.

[2019-05-22 22:43] isuruf commented on #1542
@certik, what do you think?

[2019-05-22 22:57] certik commented on #1542
So I would say this is a bug on the CI host. As such, we need ways to workaround their bug, and disable `-march=native`. Is that an ok workaround?

However, to disable it by default will lead to people not enabling it. That has been my experience. And thus getting a slow performance.

[2019-05-23 05:20] isuruf commented on #1542
@bjodah, do you mind running the benchmarks with and without `-march=native`. I suspect we won't see any difference in symengine. (There aren't many floating point/integer operations to optimize.)

[2019-05-23 22:58] certik commented on #1542
I would expect to see quite a bit of difference, as `-march=native` is not specifically floating point related (that's what `-ffast-math` is for).

[2019-05-23 23:07] isuruf commented on #1542
Sure, but most of the options are floating point related. Like sse4, avx2, avx512 etc.

Here's a run with `-march=native`

[code]

Here's without `-march-native`
[code]

[2019-05-23 23:09] certik commented on #1542
Ok, it seems the difference is not as big as I thought.

Still, what is a disadvantage of keeping `-march=native` the default? As long as we can easily turn it off on the problematic CI.

[2019-05-23 23:13] isuruf commented on #1542
One disadvantage is that I've seen some package managers package symengine without turning this option off.

Another is that `-march=native` generates some instructions that the assembler can't handle. Eg: https://github.com/symengine/symengine/issues/474. (This shows that `-march=native` does generate better code with new instructions for symengine, but I haven't seen any noticeable difference in

[2019-05-23 23:19] certik commented on #1542
@isuruf regarding #474 that is a bug in the toolchain on a Mac, that they had a linker that couldn't handle the (correct) instructions generated by the compiler.

I can see your point. I guess the default options for a library like SymEngine should be so that when somebody compiles it on one machine, it will work on another. So I am ok with making `-march=native` optional, as long as we document i

[2019-07-01 17:26] Marlin-Na opened #1552 "basic_solve_poly can not solve "x^5 - 10""
An example:

[code]

I get `solution size is 0`.

[2019-07-01 17:29] isuruf commented on #1552
Does `basic_solve_poly` return 0 ? If not, that means, the solver couldn't solve it.

[2019-07-01 17:34] Marlin-Na commented on #1552
@isuruf Yes, it returns 0

[2019-07-11 17:03] isuruf opened #1559 "Should `0 * 4.0` return `0` or `0.0` ?"
Since the operand on the left is exact, the result should be exact, IMO.

cc @mydatamodels

[2019-07-12 09:49] bjodah commented on #1559
FWIW I think `0` is sensible.

[2019-07-12 17:08] isuruf opened #1560 "Wrap polygamma in C"

[2019-07-12 17:10] mattfidler commented on #1560
If you do this, you may want to use the `R` equivalent function `psigamma` which reverses the arguments (unfortunately).

[2019-07-12 17:11] mattfidler commented on #1560
With a `s4` method of course.

[2019-07-12 17:12] isuruf commented on #1560
We can do that in the R package. In the C wrappers, we should keep the same interface as the C++ interface.

[2019-07-12 17:15] mattfidler commented on #1560
Thanks @isuruf.  For some reason I thought I was still in the `R` library.

[2019-07-12 17:45] isuruf opened #1561 "Make SYMENGINE_CLING_LIBRARY_DIR relative to the header file."
Otherwise, changing CMAKE_INSTALL_PREFIX, results in a rebuild of most parts of symengine.

cc @SylvainCorlay

[2019-07-12 20:05] certik commented on #1559
Python returns 0.0:
[code]
I am fine either way, but I would make sure that `0 * 4.0` returns the same thing as `4.0 * 0`.

[2019-07-12 21:43] amcostant opened #1563 "Requesting implementing "Polynomial_Integrate" method"
To whom it may concern,

I understand that implementing a generic integrate function would be a significant expansion, but a basic method that simply integrated polynomials would be very helpful. I am currently using SymEngine in Julia and would like to be able to have the ability to integrate polynomials without having to use SymPy.

for example :
"julia> f = 2*a*t + 3*b*t^2;
julia> polynomial_in

[2019-07-12 22:09] isuruf commented on #1559
Btw, SymPy gives `0`

Of course. Multiplication should be commutative.

[2019-07-12 23:10] certik commented on #1563
@amcostant thanks for this. Yes, we should get started on having at least polynomial integration.

[2019-07-12 23:11] certik commented on #1559
If sympy gives 0, we should also give 0 I think.

[2019-07-12 23:18] amcostant commented on #1563
@certik I could try and start implementing the code (I have no C++ experience but could try), I was thinking of using the diff function as a template, would that be a good way to start?

[2019-07-12 23:56] isuruf commented on #1563
There is code to convert to a polynomial object (UExprPoly) and convert it back. I would suggest adding an integrate function there.

[2019-07-12 23:57] isuruf commented on #1563
Btw, if all you need are polynomials, symengine is not the fastest package for you. (Either in C++ or in Julia)

[2019-07-13 15:53] certik commented on #1563
Yes, the integrate should be in the polynomial module and we just have to convert back and forth.

[2019-07-14 13:30] s171723 opened #1565 "doit() and simplify()"
I am using SymPy in my master thesis and I am trying SymEngine (inside Python) to try to speed it up. However I have some issues, first I could not find the .doit() method and I wonder what would be the similar method in SymEngine. Another issue I am experiencing is that the .simplify() method is slower using SymEngine than using SymPy.

I like very much the library and it's capabilities, more spe

[2019-07-15 18:22] amcostant commented on #1563
@isuruf I am implementing a HAM solver for a PDE solution, integration is limited to polynomials wrt time as mentioned, but derivatives can be quite complicated wrt state. What would you recommend I use for integration then?

[2019-07-16 00:52] amcostant commented on #1563
temporary workaround if anyone else wants the function, you need to know the max coefficient of the polynomial you are integrating for this workaround.
`
function polyintegrate(b1::SymbolicType, b2::Basic,n::Int)
    temp = coeff.(b1,b2,0:n)
    b2vec = b2.^(1:n+1) ./ (1:n+1) # .* 1 ./ (1:n+1) 1.3x speedup, but sacrafices accuracy
    sum(temp.*b2vec)
end
`

[2019-07-18 11:51] lkeegan opened #1566 "parsing of doubles depends on locale"
### issue
The parser assumes that a double has a `'.'` as the decimal separator:
https://github.com/symengine/symengine/blob/f7e253fdde1064584ea30728dd6430fc74d596d5/symengine/parser/parser.ih#L100
and if it finds one, it uses `strtod` to convert the string into a double.

This works fine, unless the locale has been set to one where a `','` is used as the separator instead, then `strtod` will inco

[2019-07-19 23:26] isuruf commented on #1566
I tried reproducing, and couldn't make the test fail. Is it just the `std::setlocale(LC_NUMERIC, "de_DE.UTF-8");` that is needed?